{% extends '::admin_template.html.twig' %}

{% block title %} {{'Prendre un rendez-vous'|trans}}  - Dikaki {{'prise de rendez-vous et dépôt de dossier en ligne'|trans}} {% endblock %}

{% block style %}

<style>

    .sky-form{
        box-shadow: none !important;
    }
   tr > td{
      font-weight: 700;
   }
   td.data_{
      margin-left: 30px !important;
   }
   .mymodalbox2{
      font-size: 1.1em !important;
      margin-top:4px !important;
    }

</style>
{% endblock %}

{%  block body %}

<!-- debut du contenu -->
<section id="main-content">
  <section class="wrapper site-min-height">
    <div class="row mt">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2 class="name_structure">{{'Cabinet médical la Grâce'|trans}}</h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2 class="name_structure">{{'Prendre un RDV'|trans}}</h2>
        </div>
      <!-- /col-lg-12 -->
      <div class="col-lg-12 mt">
        <div class="row content-panel">
         <!-- debut -->
    <section class="wrapper site-min-height">
    <div class="row">
      <div class="col-lg-12">
         <select class="form-control form_width">
            <option>Dr Ndewa</option>
             <option>Dr Fotso</option>
             <option>Dr Melingui</option>
         </select>

       <br>

          <a href="{{path('dkk_administration_agenda')}}" class="re_back_"><i class="fa fa-share"></i> {{"Revenir à l'agenda"|trans}}</a>
          <p style="clear:both !important"></p>


         <div class="content_menu">

             <div class="wrapper_line_one" style="height: 30px !important;">

                 <div class="pull-left">
                    <a href="{{path('dkk_administration_agenda_creer_client')}}" class="mymodalbox2">{{'Nouveau client'|trans}} </a>
                   <a href="{{path('dkk_administration_agenda_creer_planning')}}" class="mymodalbox2">{{'Planning'|trans}}</a>
                   <a href="{{path('dkk_administration_agenda_prendre_rdv')}}" class="mymodalbox2">{{'Prendre RDV'|trans}}</a>
                    <a href="{{path('dkk_administration_agenda_modifier_rdv')}}" class="mymodalbox2">{{'Modifier RDV'|trans}}</a>
                   <a href="{{path('dkk_administration_agenda_presence')}}" class="mymodalbox2">{{'Présence'|trans}}</a>
                   <a href="{{path('dkk_administration_agenda_encaissement')}}" class="mymodalbox2">{{'Encaissement'|trans}}</a>
                 </div>
                 <div class="pull-right">

                 </div>

             </div>
              <!-- debut de l'affichage du calandrier au click -->
              <div class="affichage_calandar_3">

              </div>
              <!-- debut de l'affichage du calandrier au click -->

          </div>

          <div class=" ">
               <h3 class="cration_client">  {{'Prendre rendez-vous'|trans}} </h3>
               <div class="margin_wrapper" style="height:890px !important;overflow-y:auto !important;">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p class="name_fiche"> {{'Informations personnelles'|trans}} </p>
                        <hr class="line_users">
                        <form method="post" action="client.html">
                            <div class="search_users">
                                <input type="search" name="" class="input_search_user" placeholder="{{'Rechercher un client ici'|trans}}" required>
                                <button class="btn_search_"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        <!--<p>
                            <a href="" class="seen_rdv_ btn-success btn btn-sm"><i class="fa fa-eye "></i> {{'Voir ses rendez-vous'|trans}} </a>
                        </p>-->

                        <!-- si aucun client / patient  n'est trouver afficher lui le lien pour creer un nouvel client / patient  -->

                          <p class="not_found"> {{'Pas de client / patient trouvé'|trans}} </p>
                          <p>
                            <a href="{{path('dkk_administration_agenda_creer_client')}}" class="btn btn-primary"><i class="fa fa-user"></i> {{'Cliquez ici pour créer un client / patient'|trans}}</a>
                          </p>
                        <!-- fin de la condition -->
                        <div class="">
                            <table>
                                <tr>
                                    <td>{{'Nom'|trans}} </td>
                                    <td class="data_"> &nbsp;&nbsp;&nbsp;&nbsp; Atangana</td>
                                </tr>
                                <tr>
                                    <td>{{'Prénom'|trans}}</td>
                                    <td class="data"> &nbsp;&nbsp;&nbsp;&nbsp; Pierre Joseph </td>
                                </tr>

                                <tr>
                                    <td>{{'Né(e) le'|trans}} </td>
                                    <td class="data"> &nbsp;&nbsp;&nbsp;&nbsp; {{'02 Décembre 1970'|trans}} </td>
                                </tr>

                                <tr>
                                    <td>{{'Sexe'|trans}}</td>
                                    <td class="data"> &nbsp;&nbsp;&nbsp;&nbsp; {{'Masculin'|trans}} </td>
                                </tr>
                                <tr>
                                    <td>{{'Téléphone'|trans}}</td>
                                    <td class="data"> &nbsp;&nbsp;&nbsp;&nbsp; +237 765 568 098 </td>
                                </tr>
                                <tr>
                                    <td>{{'Email'|trans}}</td>
                                    <td class="data"> &nbsp;&nbsp;&nbsp;&nbsp; atanganapierre@gmail.com </td>
                                </tr>
                            </table>
                            <br>

                             <h4>{{'Votre rendez-vous'|trans}} </h4>

                            <table>
                              <tr>
                                <th>{{'Rendez-vous'|trans}} :</th>
                                <td>{{'Le 10 mai 2020 à 12h30min'|trans}}</td>
                              </tr>
                              <tr>
                                <th>{{'Pour'|trans}} :</th>
                                <td>{{'Consultation dentaire'|trans}}</td>
                              </tr>
                              <tr>
                                <th>{{'Avec'|trans}} :</th>
                                <td>Dr Essomba</td>
                              </tr>
                              <tr>
                                <th>{{'Montant'|trans}} :</th>
                                <td>1000F cfa</td>
                              </tr>
                            </table>
                            <br>
                            <div class="">
                              <p>{{'Remarque'|trans}}</p>
                                <p class="item_information" style="font-size: 1em !important;">
                                    {{'je suis allergique à la péniciline'|trans}}.
                                </p>
                            </div>
                            <br>
                            <h4>{{'Dernier rendez-vous'|trans}} </h4>


                             <table>
                        <tr>
                            <td>{{'Venu à'|trans}} : :</td>
                            <td> &nbsp;&nbsp;&nbsp;&nbsp; 12h 30 min</td>
                        </tr>
                        <tr>
                            <td>{{'Date'|trans}} :</td>
                            <td> &nbsp;&nbsp;&nbsp;&nbsp; 2 {{'décembre'|trans}} 2018</td>
                        </tr>
                        <tr>
                            <td>{{'Avec'|trans}} :</td>
                            <td> &nbsp;&nbsp;&nbsp;&nbsp; Dr Bilong</td>
                        </tr>
                        <tr>
                            <td>{{'Montant'|trans}} :</td>
                            <td> &nbsp;&nbsp;&nbsp;&nbsp; 10000</td>
                        </tr>
                    </table>




                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p class="name_fiche"> {{'Rendez-vous'|trans}} </p>
                        <hr class="line_users">

                        <p>
                            <a href="" class="seen_rdv_ btn-success btn btn-sm"><i class="fa fa-print"></i> {{'Imprimer le rendez-vous'|trans}}  </a>
                        </p>
                        <form method="post" action="" id="signupForm">
                          <table style="margin-top: 20px;">
                              <tr>
                                <th>{{'Prestation'|trans}}</th>
                                <td>
                                    <select class="form-control" name="prestation">
                                      <option selected disabled>{{'Choix de la prestation'|trans}} </option>
                                      <option value="">{{'Soins de visage pour homme'|trans}} </option>
                                      <option value="">{{'Soins de visage pour femme'|trans}}</option>
                                      <option value="">{{'Massage corporel'|trans}}</option>
                                    </select>
                                    <br>
                                </td>
                              </tr>
                              <tr>
                                <th>{{'Prestataire'|trans}}</th>
                                  <td>
                                    <select class="form-control" name="prestataire">
                                      <option value="">{{'Choix du prestataire'|trans}} </option>
                                      <option value="">Jeanne</option>
                                      <option value="">Paul</option>
                                      <option value="">Pierre</option>
                                    </select>
                                    <br>
                                  </td>

                              </tr>
                              <tr>
                                <th>{{'Date'|trans}}</th>
                                <td>
                                  <input type="text" id="datepicker" name="date" class="form-control">
                                  <br>
                                </td>

                              </tr>
                               <tr>
                                <th>{{'Heure'|trans}} </th>
                                <td>

                                  <div class="col-md-12 col-lg-12">
                                  <select name="heure" class="form-control">
                                    <option selected disabled>{{'Heure'|trans}}</option>
                                    <option value="06 h">06 {{'heures'|trans}} - 10 {{'Minutes'|trans}}</option>
                <option value="07 h">07 {{'heures'|trans}} - 30 {{'Minutes'|trans}}</option>
                                    <option value="08 h">08 {{'heures'|trans}} - 20 {{'Minutes'|trans}}</option>
                <option value="09 h">09 {{'heures'|trans}} - 40 {{'Minutes'|trans}}</option>
                                    <option value="10 h">10 {{'heures'|trans}} -50 {{'Minutes'|trans}}</option>
                <option value="11 h">11 {{'heures'|trans}} </option>
                                    <option value="12 h">12 {{'heures'|trans}} </option>
                <option value="13 h">13 {{'heures'|trans}} </option>
                                    <option value="14 h">14 {{'heures'|trans}} </option>
                <option value="15 h">15 {{'heures'|trans}} </option>
                                    <option value="16 h">16 {{'heures'|trans}} </option>
                <option value="17 h">17 {{'heures'|trans}} </option>
                                    <option value="18 h">18 {{'heures'|trans}} </option>
                <option value="19 h">19 {{'heures'|trans}} </option>
                                    <option value="20 h">20 {{'heures'|trans}} </option>
                <option value="21 h">21 {{'heures'|trans}} </option>
                                    <option value="22 h">22 {{'heures'|trans}} </option>
                <option value="23 h">23 {{'heures'|trans}} </option>
                                  </select>
                                </div>


                                </td>

                              </tr>
                              <tr>
                                <th>{{'Laisser un commentaire'|trans}}</th>
                                <td>
                                  <br>
                                  <textarea class="form-control" name="comment"></textarea>
                                <br>
                                </td>
                              </tr>
                              <tr>
                                <th>{{'Rappel SMS'|trans}}</th>
                                <td><input type="checkbox" name="" class=""></td>
                              </tr>
                          </table>



           <div class="row">
           <br>
           <h3>{{'Paiement'|trans}}</h3>
            <p class="choissir_paiement">{{'Choisir un opérateur'|trans}}</p>

            <!-- debut du code des paiement -->
               <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                               <div class="cc-selector-2" id="hide_mtn">
                                                    <input  id="mtn" type="checkbox" name="mtn_paiement" value="Mtn Mobile Money" />
                                              <label class="drinkcard-cc mtn" for="mtn"></label>
                                              </div>

                                              <button type="submit" class="paiement_btn" id="by_mtn" style="display:none !important;"><i class="fa fa-money"></i> &nbsp;&nbsp;{{'Payer'|trans}} </button>
                                          </div>
                                          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                               <div class="cc-selector-2" id="hide_orange">
                                                    <input id="orange" type="checkbox" name="orange_paiement" value="Orange Mobile Money" />
                                              <label class="drinkcard-cc orange"for="orange"></label>
                                                </div>

                                              <button type="submit" class="paiement_btn" id="by_orange" style="display:none !important;"><i class="fa fa-money"></i> &nbsp;&nbsp;{{'Payer'|trans}} </button>
                                          </div>
                                          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                               <div class="cc-selector-2" id="hide_ue">
                                                    <input id="ue" type="checkbox" name="ue_paiement" value="EU Mobile Money" />
                                              <label class="drinkcard-cc ue" for="ue"></label>
                                                </div>

                                              <button type="submit" class="paiement_btn" id="by_ue" style="display:none !important;"><i class="fa fa-money"></i> &nbsp;&nbsp;{{'Payer'|trans}}</button>
                                          </div>
                                          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                               <div class="cc-selector-2" id="hide_yup">
                                                    <input id="yup" type="checkbox" name="yup_paiement" value="Yup Mobile Money" />
                                              <label class="drinkcard-cc yup" for="yup"></label>
                                                </div>

                                              <button type="submit" class="paiement_btn" id="by_yup" style="display:none !important;"><i class="fa fa-money"></i> &nbsp;&nbsp;{{'Payer'|trans}}</button>
                                          </div>
            <!-- fin du code des paiement -->
           </div>

           <br>
            <div>
                              <p class="marquer_comme">{{'Marquer le RDV comme'|trans}} ?</p>
                             <label for="venu" class="btn btn-success btn-xs">
                                  <input type="radio" id="venu" name="select"> {{'Venue'|trans}}
                             </label>
                             <label for="pas_venu" class="btn btn-danger btn-xs">
                                  <input type="radio" id="pas_venu" name="select"> {{'Pas venue'|trans}}
                             </label>
                             <label for="En_attente" class="btn btn-primary btn-xs">
                                  <input type="radio" id="En_attente" name="select" checked> {{'En attente'|trans}}
                             </label>

                         </div>
           <br>

                         <div class="btn_validation_reset pull-right">
                                <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-floppy-o"></i> {{'Valider'|trans}}</button>
                                <button type="reset" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> {{'Annuler'|trans}}</button>
                          </div>



                        </form>
                    </div>




               </div>
          </div>


      </div>

      <!--  /col-lg-12 -->
    </div>
    <!--  /row -->
  </section>
         <!-- fin -->

        </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </section>
  <!-- /wrapper -->
</section>

{% endblock %}

{% block scripts %}

 <script>

 $(document).ready(function() {
   $("#signupForm").validate({
     rules: {
       prestation: "required",
       prestataire: "required",
       heure: "required",
       minute: "required",
       date: "required",
       comment: {
         required: true,
         minlength: 20
       }
     },
     messages: {

       comment: {
         required: "<span style='color:#dd4f43'>{{'Champs réquis'|trans}}</span>",
         minlength: "<span style='color:#dd4f43'>20 {{'caractères minimum'|trans}}</span>",
       },
       prestation: "<span style='color:#dd4f43'>{{'Choisir prestation'|trans}}</span>",
       prestataire: "<span style='color:#dd4f43'>{{'Choisir prestataire'|trans}}</span>",
       heure: "<span style='color:#dd4f43'>{{'Heure'|trans}}</span>",
       minute: "<span style='color:#dd4f43'>{{'Minute'|trans}}</span>",
      date: "<span style='color:#dd4f43'>{{'Choisir date'|trans}}</span>"
     }
   });

 // gestion des paiement

 $("#mtn").on('click',function(){

           // pour Mtn
        if($('input[name=mtn_paiement]').prop('checked'))
        {
            $("#by_mtn").show();
            $("#hide_orange").hide();
            $("#hide_ue").hide();
            $("#hide_yup").hide();
        }
        else
        {
            $("#by_mtn").hide();
            $("#hide_orange").show();
            $("#hide_ue").show();
            $("#hide_yup").show();
        }
       });



        $("#orange").on('click',function(){
             // pour Orange
            if($('input[name=orange_paiement]').prop('checked'))
            {
                $("#hide_mtn").hide();
                $("#by_orange").show();
                $("#hide_ue").hide();
                $("#hide_orange").show();
                $("#hide_yup").hide();
            }
            else
            {
                $("#hide_mtn").show();
                $("#by_orange").hide();
                $("#hide_ue").show();
                $("#hide_yup").show();
                $("#hide_orange").show();
            }


       });


        $("#ue").on('click',function(){
        // pour Ue
            if($('input[name=ue_paiement]').prop('checked'))
            {
                $("#hide_mtn").hide();
                $("#hide_orange").hide();
                $("#by_ue").show();
                $("#hide_ue").show();
                $("#hide_yup").hide();
            }
            else
            {
                $("#hide_mtn").show();
                $("#hide_orange").show();
                $("#by_ue").hide();
                $("#hide_ue").show();
                $("#hide_yup").show();
            }
       });

       $("#yup").on('click',function(){
       // pour yup
           if($('input[name=yup_paiement]').prop('checked'))
           {
               $("#hide_mtn").hide();
               $("#hide_ue").hide();
               $("#by_yup").show();
               $("#hide_orange").hide();
               $("#hide_yup").show();
           }
           else
           {
               $("#hide_mtn").show();
               $("#hide_orange").show();
               $("#hide_ue").show();
               $("#hide_yup").show();
               $("#by_yup").hide();
           }
      });

  // fin de la gestion des paiement

   $( "#datepicker" ).datepicker();



 });
</script>


{% endblock %}
