    {% extends '::admin_template.html.twig' %}

{% block title %}{{'Agenda'|trans}} - {{'Liste des clients'|trans}} - {{'Prise de rendez-vous et dépôt de dossier en ligne'|trans}} {% endblock %}

{% block style %}

<style>
        .menu1 {  
          border-bottom:solid 2px #666666 ;  
          padding-top:12px ;  
          padding-bottom:7px
        } 

        .onglet { 
            border:solid 1px #666666 ;  
            margin:5px 5px 0px 5px ;  
            padding:7px 3px 7px 3px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1em;
            background: #666666;
            color: #fff !important;

            border-radius:5px 5px 0px 0px !important;
          }  

          a.onglet {  
            background-color:#666666 ;  
            text-decoration:none;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1em;
            background: #666666;
            color: #fff !important;
          }  
          .onglet-actif { 
             border-left:solid 2px #666666 ;  
             border-right:solid 2px #666666 ;  
             border-top:solid 2px #666666 ;  
             border-bottom:none !important;  
             margin:5px 5px 0px 5px ; 
             padding:7px 3px 7px 3px ;  
             background-color:white;
             font-weight: bold;
             font-family: 'Montserrat', sans-serif;
             font-size: 1.2em;
             color: #333;
          }  
        .sky-form{
            box-shadow: none !important;
        }

         table, th{
          text-align: center;
        }

    </style>

{% endblock %}

{% block body %}



<!-- debut du contenu -->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">

            <h2 class="name_structure">{{'Cabinet médical la Grâce'|trans}}</h2>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
             <!-- debut -->
        <section class="wrapper site-min-height">
        <div class="row">
          <div class="col-lg-12">
             <select class="form-control form_width">
                <option>Dr Ndewa</option>
                 <option>Dr Fotso</option>
                 <option>Dr Melingui</option>
             </select>

            <br>

              <div class="menu1"> <!-- début de la boite contenant les onglets -->
                <a href="{{path('dkk_administration_agenda')}}" class="onglet-actif"> {{'Agenda(s)'|trans}} </a> <!-- onglet ACTIF -->
                <a  href="{{path('dkk_administration_agenda_tab_prestataire')}}" class="onglet-actif"> {{'Prestataires'|trans}}  </a> <!-- onglet inactif -->
                  <a  href="{{path('dkk_administration_agenda_tab_prestation')}}" class="onglet-actif"> {{'Prestations'|trans}}  </a> <!-- onglet inactif -->
                <a href="{{path('dkk_administration_agenda_tab_tache')}}" class="onglet-actif"> {{'Tâches'|trans}} </a> <!-- onglet ACTIF -->
                <a href="{{path('dkk_administration_agenda_tab_planning')}}" class="onglet-actif"> {{'Plannings'|trans}} </a> <!-- onglet ACTIF -->
                   <span class="onglet"> {{'Liste clients'|trans}}  </span> <!-- onglet inactif -->
                <a href="{{path('dkk_administration_agenda_tab_action')}}" class="onglet-actif"> {{'Actions'|trans}} </a> <!-- onglet ACTIF -->
              </div>

              <div class="wrapper_aganda_">
                   <h4 class=" ">{{'Liste des clients'|trans}}</h4>
                   <div class="">
                         <!-- debut -->
                    <section id="unseen">
                         <table class="table table-bordered table-striped table-condensed">
                          <thead>
                            <tr style="background-color: #26440d !important;color: #fff !important;">
                              <th>N°</th>
                              <th>{{'Nom'|trans}}</th>
                              <th>{{'Prénom'|trans}}</th>
                              <th>{{'Age'|trans}}</th>
                              <th>{{'Sexe'|trans}}</th>
                              <th>{{'Téléphone'|trans}}</th>
                              <th>{{'Email'|trans}}</th>
                              <th>{{'Observation'|trans}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Ebolo Ebolo</td>
                              <td>Guillaume stephane</td>
                              <td>{{'45 ans'|trans}}</td>
                              <td>{{'Masculin'|trans}} </td>
                              <td>+237 987 563 213</td>
                              <td>Ebologuillaume@gmail.com</td>
                              <td>{{'Rien à signaler pour le moment'|trans}}.</td>
                            </tr>

                            <tr>
                              <td>2</td>
                              <td>Ebolo Ebolo</td>
                              <td>Guillaume stephane</td>
                              <td>{{'45 ans'|trans}}</td>
                              <td>{{'Masculin'|trans}} </td>
                              <td>+237 987 563 213</td>
                              <td>Ebologuillaume@gmail.com</td>
                              <td>{{'Rien à signaler pour le moment'|trans}}.</td>
                            </tr>





                          </tbody>
                        </table>


                        <a href="" class="btn btn-success btn-sm"><i class="fa fa-print"></i> {{'Imprimer'|trans}}</a>

              </section>

                <!-- fin -->

                   </div>
              </div>


          </div>

          <!--  /col-lg-12 -->
        </div>
        <!--  /row -->
      </section>
             <!-- fin -->

            </div>

          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>


{% endblock %}

{% block scripts %}


{% endblock %}

