  {% extends '::admin_template.html.twig' %}

{% block title %} {{'Client'|trans}} - Dikaki {{'Prise de rendez-vous et dépôt de dossier en ligne'|trans}} {% endblock %}

{% block style %}

{% endblock %}

{% block body %}

 <!-- debut du contenu -->
       <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
           <div class="col-xs-12 col-ms-6 col-md-6">
        <h2 class="name_structure">{{'Cabinet médical la Grâce'|trans}}</h2>
      </div>
      
      <div class="col-xs-12 col-ms-6 col-md-6">
        <h2 class="name_structure">{{'Fichier des clients'|trans}}</h2>
      </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">


            <div class="row content-panel">
             <!-- debut -->
        <section class="wrapper site-min-height">
        <div class="row">
          <div class="col-lg-12">

              <h4 class="small_tittle up_ pull-left">{{'Clients'|trans}} </h4>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="client_wrapper">
            <form method="post" action="">
            <input type="search" name="" class="form-control" placeholder="{{'Chercher un client'|trans}}" required>
          </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <a class="btn btn-success btn-xs link_create_" href="{{path('dkk_administration_create_client')}}"><i class="fa fa-plus fa-1x"></i> &nbsp;{{'Créer un client'|trans}}</a>
        </div>
                

              <p style="clear: both !important;"></p>
                

              <div class="margin_wrapper_client" style="height: auto !important;">

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                   <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%;height:260px !important; overflow: hidden;">
                    <img src="{{asset('img/photo_medecin.jpg')}}" class="img-responsive img_client_professionnel" alt=""
                        class="d-block w-full" style="height:110px;width:110px;">

                      <div class="px-2 py-2">
                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                          {{'Cabinet médicale la Grâce'|trans}}
                        </p>

                        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="font-size:1.1em;font-weight:700;">
                          Mr Ebolo Ebolo Guillaume
                        </h1>

                      </div>

                  <a href="{{path('dkk_administration_view_client')}}" class="btn btn-success btn-xs mon_lien  d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                  <i class="fa fa-eye"></i> {{'Voir plus'|trans}}
                  </a>
                </div>
                </div>
                  
                 <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                   <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%;height:260px !important; overflow: hidden;">
                    <img src="{{ asset('img/photo_medecin.jpg')}}" class="img-responsive img_client_professionnel" alt=""
                        class="d-block w-full" style="height:110px;width:110px;">

                      <div class="px-2 py-2">
                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                         {{'Cabinet médical la Grâce'|trans}}
                        </p>

                        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="font-size:1.1em;font-weight:700;">
                          Mr Ebolo Ebolo Guillaume
                        </h1>

                      </div>

                  <a href="{{path('dkk_administration_view_client')}}" class="btn btn-success btn-xs mon_lien  d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                  <i class="fa fa-eye"></i> {{'Voir plus'|trans}}
                  </a>
                </div>
                </div>
                  
                   <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                   <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%;height:260px !important; overflow: hidden;">
                    <img src="{{ asset('img/photo_medecin.jpg')}}" class="img-responsive img_client_professionnel" alt=""
                        class="d-block w-full" style="height:110px;width:110px;">

                      <div class="px-2 py-2">
                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                         {{'Cabinet médical la Grâce'|trans}}
                        </p>

                        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="font-size:1.1em;font-weight:700;">
                          Mr Ebolo Ebolo Guillaume
                        </h1>

                      </div>

                  <a href="{{path('dkk_administration_view_client')}}" class="btn btn-success btn-xs mon_lien  d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                  <i class="fa fa-eye"></i> {{'Voir plus'|trans}}
                  </a>
                </div>
                </div>
                  
                   <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                   <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%;height:260px !important; overflow: hidden;">
                    <img src="{{ asset('img/photo_medecin.jpg')}}" class="img-responsive img_client_professionnel" alt=""
                        class="d-block w-full" style="height:110px;width:110px;">

                      <div class="px-2 py-2">
                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                         {{'Cabinet médical la Grâce'|trans}}
                        </p>

                        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="font-size:1.1em;font-weight:700;">
                          Mr Ebolo Ebolo Guillaume
                        </h1>

                      </div>

                  <a href="{{path('dkk_administration_view_client')}}" class="btn btn-success btn-xs mon_lien  d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                  <i class="fa fa-eye"></i> {{'Voir plus'|trans}}
                  </a>
                </div>
                </div>
                  
                   <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                   <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%;height:260px !important; overflow: hidden;">
                    <img src="{{ asset('img/photo_medecin.jpg')}}" class="img-responsive img_client_professionnel" alt=""
                        class="d-block w-full" style="height:110px;width:110px;">

                      <div class="px-2 py-2">
                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                         {{'Cabinet médical la Grâce'|trans}}
                        </p>

                        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="font-size:1.1em;font-weight:700;">
                          Mr Ebolo Ebolo Guillaume
                        </h1>

                      </div>

                  <a href="{{path('dkk_administration_view_client')}}" class="btn btn-success btn-xs mon_lien  d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                  <i class="fa fa-eye"></i> {{'Voir plus'|trans}}
                  </a>
                </div>
                </div>
                  
                   <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                   <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%;height:260px !important; overflow: hidden;">
                    <img src="{{ asset('img/photo_medecin.jpg')}}" class="img-responsive img_client_professionnel" alt=""
                        class="d-block w-full" style="height:110px;width:110px;">

                      <div class="px-2 py-2">
                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                         {{'Cabinet médical la Grâce'|trans}}
                        </p>

                        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="font-size:1.1em;font-weight:700;">
                          Mr Ebolo Ebolo Guillaume
                        </h1>

                      </div>

                  <a href="{{path('dkk_administration_view_client')}}" class="btn btn-success btn-xs mon_lien  d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                  <i class="fa fa-eye"></i> {{'Voir plus'|trans}}
                  </a>
                </div>
                </div>
                  
                   <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                   <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%;height:260px !important; overflow: hidden;">
                    <img src="{{ asset('img/photo_medecin.jpg')}}" class="img-responsive img_client_professionnel" alt=""
                        class="d-block w-full" style="height:110px;width:110px;">

                      <div class="px-2 py-2">
                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                         {{'Cabinet médical la Grâce'|trans}}
                        </p>

                        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="font-size:1.1em;font-weight:700;">
                          Mr Ebolo Ebolo Guillaume
                        </h1>

                      </div>

                  <a href="{{path('dkk_administration_view_client')}}" class="btn btn-success btn-xs mon_lien  d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                  <i class="fa fa-eye"></i> {{'Voir plus'|trans}}
                  </a>
                </div>
                </div>
                  
                   <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                   <div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%;height:260px !important; overflow: hidden;">
                    <img src="{{ asset('img/photo_medecin.jpg')}}" class="img-responsive img_client_professionnel" alt=""
                        class="d-block w-full" style="height:110px;width:110px;">

                      <div class="px-2 py-2">
                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                         {{'Cabinet médical la Grâce'|trans}}
                        </p>

                        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="font-size:1.1em;font-weight:700;">
                          Mr Ebolo Ebolo Guillaume
                        </h1>

                      </div>

                  <a href="{{path('dkk_administration_view_client')}}" class="btn btn-success btn-xs mon_lien  d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
                  <i class="fa fa-eye"></i> {{'Voir plus'|trans}}
                  </a>
                </div>
                </div>

              

           
      




                <!-- -->

              </div>


            <!-- end col-4 -->
          </div>
          <!--  /col-lg-12 -->
        </div>
        <!--  /row -->
      </section>
             <!-- fin -->

            </div>

          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>



{% endblock %}

{% block scripts %}



{% endblock %}

