{% extends '::admin_template.html.twig' %}

{% block title %}{{'Historique'|trans}} - {{'Prise de rendez-vous et dépôt de dossier en ligne'|trans}} {% endblock %}

{% block style %}



{% endblock %}

{% block body %}

<!-- debut du contenu -->
  <section id="main-content">
    <section class="wrapper site-min-height">
      <div class="row mt">

          <h2 class="name_structure">{{'Cabinet médical la Grâce'|trans}}</h2>
        <!-- /col-lg-12 -->
        <div class="col-lg-12 mt">
          <div class="row content-panel">
           <!-- debut -->
      <section class="wrapper site-min-height">
      <div class="row">
        <div class="col-lg-12">

            <div class="">
                 <h4 class="small_tittle up_">{{'Historique'|trans}} </h4>
                 <p class="journne_du_" style="text-align:center !important;">{{'Tableau de bord'|trans}}</p>
                 <div class="margin_wrapper">
                       <!-- debut -->
                  <section id="unseen">
                      <div class="">
                      <ul class="faq">
                         <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <li class="q">
                                  <img src="https://i.imgur.com/dRKbHww.png" alt=""/>{{"Chiffre d'affaire (par agenda et par heure)"|trans}}
                              </li>
                                  <li class="a" style="background-color: #fff !important">
                                      <table class="table table-bordered table-striped table-condensed">

                                              <tr>
                                                  <th>{{'Nom'|trans}}</th>
                                                  <th>08 h</th>
                                                  <th>09 h</th>
                                                  <th>10 h</th>
                                                  <th>11 h</th>
                                                  <th>12 h</th>
                                                  <th>13 h</th>
                                                  <th>15 h </th>
                                                  <th>16 h</th>
                                                  <th>{{'Total'|trans}} </th>
                                                  <th>{{'Moyenne'|trans}} </th>
                                              </tr>
                                              <tr>
                                                  <td>Etoundi </td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td>.. </td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td>.. </td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                              </tr>
                                              <tr>
                                                  <td>Nkoa </td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td>.. </td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td>.. </td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                              </tr>
                                              <tr>
                                                  <td>Jean </td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td>.. </td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td>.. </td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                              </tr>
                                              <tr>
                                                  <th>{{'Total'|trans}} </th>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td>.. </td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td>.. </td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                                  <td> ..</td>
                                              </tr>

                                      </table>
                                  </li>
                          </div>

                         </div>

                          <!-- seconde lignr -->
                          <p class="down_faq"></p>
                          <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <li class="q">
                                  <img src="https://i.imgur.com/dRKbHww.png" alt=""/> {{'Tous les rendez-vous'|trans}}
                              </li>
                               <li class="a" style="background-color: #fff !important">
                                  <table class="table table-bordered table-striped table-condensed">
                                      <tr>
                                          <th>{{'Nom'|trans}}</th>
                                          <th>15.2.2016</th>
                                          <th>16.2.2016</th>
                                          <th>17.2.2016</th>
                                          <th>18.2.2016</th>
                                          <th>19.2.2016</th>
                                          <th>20.2.2016</th>
                                          <th>21.2.2016 </th>
                                          <th>{{'Total'|trans}} </th>
                                          <th>{{'Moyenne'|trans}} </th>
                                      </tr>
                                      <tr>
                                          <td>Etoundi </td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                      <tr>
                                          <td>Nkoa </td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                      <tr>
                                          <td>Jean </td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                      <tr>
                                          <th>{{'Total'|trans}} </th>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                  </table>

                              </li>
                          </div>


                          </div>



                          <p class="down_faq"></p>
                          <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <li class="q">
                                  <img src="https://i.imgur.com/dRKbHww.png" alt=""/> {{'Nombre de rendez-vous pris par internet @ et type de rendez-vous'|trans}}
                              </li>
                               <li class="a" style="background-color: #fff !important">
                                  <table class="table table-bordered table-striped table-condensed">
                                     <tr>
                                          <th>{{'Nom'|trans}} / {{'Nature'|trans}}</th>
                                          <th>15.2.2016</th>
                                          <th>16.2.2016</th>
                                          <th>17.2.2016</th>
                                          <th>18.2.2016</th>
                                          <th>19.2.2016</th>
                                          <th>20.2.2016</th>
                                          <th>21.2.2016 </th>
                                          <th>{{'Total'|trans}} </th>
                                          <th>{{'Moyenne'|trans}} </th>
                                      </tr>
                                      <tr>
                                          <td>{{'Epilation'|trans}} </td>

                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                      <tr>
                                          <td>{{'Soin de visage'|trans}} </td>

                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                      <tr>
                                          <td>{{'Manicure'|trans}} </td>

                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                      <tr>
                                          <th>{{'Total'|trans}} </th>

                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                  </table>

                              </li>
                          </div>


                          </div>


                          <p class="down_faq"></p>
                          <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <li class="q">
                                  <img src="https://i.imgur.com/dRKbHww.png" alt=""/> {{'Nombre de rendez-vous pris par internet @ et par status'|trans}}
                              </li>
                               <li class="a" style="background-color: #fff !important">
                                  <table class="table table-bordered table-striped table-condensed">
                                     <tr>
                                          <th>{{'Statut'|trans}}</th>
                                          <th>15.2.2016</th>
                                          <th>16.2.2016</th>
                                          <th>17.2.2016</th>
                                          <th>18.2.2016</th>
                                          <th>19.2.2016</th>
                                          <th>20.2.2016</th>
                                          <th>21.2.2016 </th>
                                          <th>{{'Total'|trans}} </th>
                                          <th>{{'Moyenne'|trans}} </th>
                                      </tr>
                                      <tr>
                                          <td>{{'Venus'|trans}} </td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                      <tr>
                                          <td>{{'Non venus'|trans}} </td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                      <tr>
                                          <td>{{'En attente'|trans}} </td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                      <tr>
                                          <td>{{'Non renseigné'|trans}} </td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                      <tr>
                                          <th>{{'Total'|trans}} </th>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td>.. </td>
                                          <td> ..</td>
                                          <td> ..</td>
                                          <td> ..</td>
                                      </tr>
                                  </table>

                              </li>
                          </div>


                          </div>

                           <p class="down_faq"></p>
                          <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <li class="q">
                                  <img src="https://i.imgur.com/dRKbHww.png" alt=""/> {{'Nombre de nouveau rendez-vous venus par internet @'|trans}}
                              </li>
                               <li class="a" style="background-color: #fff !important">
                                  <table class="table table-bordered table-striped table-condensed">
                                    <tr>
                                      <th>{{'Dates'|trans}}</th>
                                      <th>15.2.2016</th>
                                      <th>16.2.2016</th>
                                      <th>17.2.2016</th>
                                      <th>18.2.2016</th>
                                      <th>19.2.2016</th>
                                      <th>20.2.2016</th>
                                      <th>21.2.2016 </th>
                                      <th>{{'Total'|trans}} </th>
                                      <th>{{'Moyenne'|trans}} </th>
                                  </tr>
                                  <tr>
                                      <th>{{'Nombre'|trans}} </th>
                                      <td> ..</td>
                                      <td>.. </td>
                                      <td> ..</td>
                                      <td> ..</td>
                                      <td> ..</td>
                                      <td>.. </td>
                                      <td> ..</td>
                                      <td> ..</td>
                                      <td> ..</td>
                                  </tr>
                                  <tr>
                                      <th>{{'Total'|trans}} </th>
                                      <td> ..</td>
                                      <td>.. </td>
                                      <td> ..</td>
                                      <td> ..</td>
                                      <td> ..</td>
                                      <td>.. </td>
                                      <td> ..</td>
                                      <td> ..</td>
                                      <td> ..</td>
                                  </tr>
                                  </table>

                              </li>
                          </div>


                          </div>
                          <!-- fin -->
                      </ul>
                      <span class="pull-right">
                         <a href="" class="btn btn-primary  btn_valid"><i class="fa fa-print"> </i> {{'Imprimer'|trans}} </a>
      &nbsp;&nbsp; &nbsp; &nbsp;
      <a href="{{path('dkk_administration_diagramme')}}"  class="btn btn-success  btn_valid"><i class="fa fa-line-chart"></i> {{'Diagrammes'|trans}}</a>
                      </span>
                      </div>

                      <div class="">
                          <div class="" style="margin-bottom: 50px !important;">



                          </div>

                      </div>

                </section>

              <!-- fin -->

                 </div>
            </div>


        </div>

        <!--  /col-lg-12 -->
      </div>
      <!--  /row -->
    </section>
           <!-- fin -->

          </div>

        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </section>
    <!-- /wrapper -->
  </section>



{% endblock %}

{% block scripts %}

<script>
                  $(document).ready(function(){
                 var speed = 400;

                  // Question handler
                  $("li.q").on("click", function(){
                      // Get next element
                      $(this).next()
                          // Toggle answer
                          .slideToggle(speed)
                              // Select all other answers
                              .siblings("li.a")
                                  // Close other answers
                                  .slideUp();

                      // Get image for active question
                      var img = $(this).children("img");
                      // Remove the 'rotate' class for all images except the active
                      $("img").not(img).removeClass("rotate");

                      // Toggle Rotate Class
                      img.toggleClass("rotate");

});

                 });

              </script>
{% endblock %}
