{% extends '::admin_template.html.twig' %}

{% block title %}{{'Listing de tous les agendas'|trans}} - Dikaki {{"prise de rendez-vous et dépôt de dossier en ligne "|trans}} {% endblock %}

{% block style %}

<style>
th,td{
 text-align:center !important;
}
</style>

{% endblock %}

{% block body %}

<section id="main-content">
 <section class="wrapper site-min-height">
   <div class="row mt">
 <div class="col-xs-12 col-ms-6 col-md-6">
   <h2 class="name_structure">{{'Cabinet médical la Grâce'|trans}}</h2>
 </div>

 <div class="col-xs-12 col-ms-6 col-md-6">
   <h2 class="name_structure">{{'Liste des agendas'|trans}}</h2>
 </div>

   <p style="margin-top:100px !important"></p>



      <div class="col-lg-12 mt">
       <div class="wrapper_aganda_">
             <table class="table table-bordered table-striped table-condensed">
                       <thead>
                        <tr style="background-color: #26440d !important;color: #fff !important;">
                           <th>N°</th>
                           <th>{{"Nom de l'agenda"|trans}} </th>
                           <th>{{'Métier / Activité'|trans}}</th>
                           <th>{{'Ouvrir sur internet'|trans}}</th>
                           <th>{{'Couleur'|trans}}</th>
                           <th>{{'Action'|trans}} </th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td> 1 </td>
                           <td> {{'Agenda patient'|trans}} </td>
                           <td> {{'Médecin'|trans}} </td>
                           <td> {{'Oui avec le même nom'|trans}} </td>
                           <td> {{'Vert'|trans}}</td>
                           <td>
                 <a href="" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> {{'Modifier'|trans}}</a>
                 <a href="" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> {{'Supprimer'|trans}}</a>
                 </td>

                         </tr>


                       </tbody>
                     </table>

               </div>
   </div>


   </div>

 </section>

</section>




{% endblock %}

{% block scripts %}


{% endblock %}
