    {% extends '::admin_template.html.twig' %}

{% block title %}{{'Planning'|trans}} - Dikaki {{'prise de rendez-vous et dépôt de dossier en ligne'|trans}} {% endblock %}

{% block style %}
 <style>
        .sky-form{
            box-shadow: none !important;
        }

         table, th{
          text-align: center;
        }
    </style>
{% endblock %}

{% block body %}

<!-- debut du contenu -->
   <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">

            <div class="col-xs-12 col-ms-6 col-md-6">
        <h2 class="name_structure">{{'Cabinet médical la Grâce'|trans}}</h2>
      </div>
      
      <div class="col-xs-12 col-ms-6 col-md-6">
        <h2 class="name_structure">{{'Planning'|trans}}</h2>
      </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
             <!-- debut -->
        <section class="wrapper site-min-height">
        <div class="row">
          <div class="col-lg-12">
             <select class="form-control form_width">
                <option>Dr Ndewa</option>
                 <option>Dr Fotso</option>
                 <option>Dr Melingui</option>
             </select>

            <br>

             
              <div class="wrapper_aganda_">
                   <div class="row">
                        <div class="col-xs-12 col-ms-12 col-md-10 col-lg-10">
                             <h3 class="cration_client" style="text-align:left !important">{{'Planning des activités'|trans}}</h3>
                        </div>
                        <div class="col-xs-12 col-ms-12 col-md-2 col-lg-2">
                            <a href="" class="btn btn-sm btn-success btn_print"><i class="fa fa-print"></i> {{'Imprimer'|trans}}</a>
                        </div>
                   </div>
                   <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="pull-right select_planning_radio">
                                <input type="radio" name="select" id="jour" checked> {{'Jour'|trans}}
                                <input type="radio" name="select" id="semaine"> {{'Semaine'|trans}}
                                <input type="radio" name="select" id="mois"> {{'Mois'|trans}}
                            </div>
                        </div>
                   </div>
                  <br>
                   <div class="">
                         <!-- debut -->
                    <section id="unseen">
                    <form method="post" action="">
                         <table class="table table-bordered table-striped table-condensed">
                          <thead>
                           <tr style="background-color: #26440d !important;color: #fff !important;">
                              <th>{{'Date'|trans}}</th>
                              <th>{{'Heure'|trans}}</th>
                              <th>{{'Nom du prestataire'|trans}}</th>
                              <th>{{'Type de prestation'|trans}}</th>
                              <th>{{'Durée / temps'|trans}}</th>
                              <th>{{'Lieux'|trans}}</th>
                              <th>{{'Observation'|trans}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                             <td>01/09/2019</td>
                             <td>10h30</td>
                              <td>Ebolo Ebolo Guillaume stephane</td>
                              <td>{{'Consultation générale'|trans}} </td>
                              <td>30 min</td>
                              <td>{{'Cabine'|trans}} 3</td>
                              <td>{{'Rien à signaler pour le moment'|trans}}</td>
                            </tr>

                            <tr>
                             <td>01/09/2019</td>
                             <td>15h00</td>
                              <td>Ebolo Ebolo Guillaume stephane</td>
                              <td>{{'Consultation générale'|trans}} </td>
                              <td>40 min</td>
                              <td>{{'Salle'|trans}} 2</td>
                              <td>{{'Rien à signaler pour le moment'|trans}}</td>
                            </tr>

                          </tbody>
                        </table>




                    </form>

              </section>

                <!-- fin -->

                   </div>
              </div>


          </div>

          <!--  /col-lg-12 -->
        </div>
        <!--  /row -->
      </section>
             <!-- fin -->

            </div>

          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>




{% endblock %}

{% block scripts %}


{% endblock %}

