 {% extends '::admin_template.html.twig' %}


{% block title %} {{'Ressources'|trans}} - Dikaki {{'Prise de rendez-vous et dépôt de dossier en ligne'|trans}} {% endblock %}

{% block style %}
   <style>
        .sky-form{
            box-shadow: none !important;
        }
        .span{
          display: inline-block !important;
          vertical-align: top !important;
        }
        .in_2{
        width: 50px;
     }
        

    </style>
{% endblock %}

{% block body %}


<!-- debut du contenu -->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">

           <div class="col-xs-12 col-ms-6 col-md-6">
        <h2 class="name_structure">{{'Cabinet médical la Grâce'|trans}}</h2>
      </div>
      
      <div class="col-xs-12 col-ms-6 col-md-6">
        <h2 class="name_structure">{{'Ressource'|trans}}</h2>
      </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
             <!-- debut -->
        <section class="wrapper site-min-height">
        <div class="row">
          <div class="col-lg-12">
             <h4 class="small_tittle">{{'Ressource'|trans}}</h4>

             



              <div class="margin_wrapper">

                  <form method="post" action="" id="signupForm">
                <div class="row">
                  <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                    <span class="my_span_">{{'Nom de la Ressource'|trans}}</span>
                  <br>
                  <input placeholder="Ex: {{'Nom de la Ressource'|trans}}" name="firstname" class="form-control " style="height: 35px;width: 60% !important;height: 35px !important" type="text">
                  </div>
                  <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                    <span class="my_span_">{{'Type de Ressource'|trans}}</span>
                  <br>
                  <select name="ressource" class="form-control" style="height: 35px;width: 60% !important;">
                    <option selected disabled></option>
                    <option value=" "> </option>
                    <option value=" "> </option>
                  </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6"><br>
                    <span class="my_span_">Localisation</span>
                  <br>
                  <input type="text" name="" class="form-control" style="height: 35px;width: 60% !important;height: 35px !important">
                  </div>
                  <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                    <br>
                    <span class="my_span_">utilisation</span>
                  <br>
                  <input type="text" name="" class="form-control" style="height: 35px;width: 60% !important;height: 35px !important">
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6"><br>
                    <span class="my_span_">{{'Description'|trans}}</span>
                  <br>
                  <textarea name="coment" style="width: 60% !important;resize: none;" cols="0" class="form-control"></textarea>
                  </div>
                  <div class="col-sm-12 col-sm-12 col-md-6 col-lg-6">
                    <br>
                    <span class="my_span_">{{'Image / Photo'|trans}}</span>
                  <br>
                  <input type="file" name="" class="form-control" style="height: 35px;width: 60% !important;height: 35px !important">
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12"><br>
                    <span class="my_span_">{{'Horaires disponibles'|trans}}</span>
                  <br><br>
                  <input name="choix_cat" class="my_checkbox" id="first_only" type="radio" style="margin-top: 3px !important;display: inline-block;" checked="">
             <label for="first_only" style="margin-left:0% color:black;font-weight:700;">{{"Utiliser les heures d'ouverture de la société"|trans}}.</label>
             <br>
              <input name="choix_cat" class="my_checkbox" id="only" type="radio" style="margin-top: 3px !important;display: inline-block;">
             <label for="only" style="margin-left:0% color:black;font-weight:700;">{{'Utiliser un programme spécifique'|trans}}.</label>
             <br><br>
             <div class="container_news_date" style="display: none;">
              <!-- debut du tableau -->
                       <table class="table table-bordered table-striped table-condensed">
                             <thead>
   <tr style="background-color: #26440d !important;color: #fff !important;">
     <th style="text-align: center !important;">{{'Jours'|trans}}</th>
      <th style="text-align: center !important;">{{'Heure de début'|trans}}</th>
      <th style="text-align: center !important;">{{'Heure de fin'|trans}} </th>
      <th style="text-align: center !important;">{{'Interruption'|trans}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td class="the_day "><input type="checkbox" name="" class="form-checkbox__"> <span class="">{{'Lundi'|trans}}</span></td>
                                <td>
                                    <span> {{"Début"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span> {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span> {{"debut"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option>{{"Sans interruption"|trans}}</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span> {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr>
       <td class="the_day"><input type="checkbox" name="" class="form-checkbox__"> <span class="">{{'Mardi'|trans}}</span></td>
                                <td>
                                    <span> {{"Début"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span> {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span> {{"debut"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option>{{"Sans interruption"|trans}}</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span> {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr>
       <td class="the_day"><input type="checkbox" name="" class="form-checkbox__"> <span class="">{{'Mercredi'|trans}}</span></td>
                                <td>
                                    <span> {{"Début"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span> {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span> {{"debut"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option>{{"Sans interruption"|trans}}</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span> {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr>
       <td class="the_day"><input type="checkbox" name="" class="form-checkbox__"> <span class="">{{'Jeudi'|trans}}</span></td>
                                <td>
                                    <span> {{"Début"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span> {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span > {{"debut"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option>{{"Sans interruption"|trans}}</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span > {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr>
       <td class="the_day"><input type="checkbox" name="" class="form-checkbox__"> <span class="">{{'Vendredi'|trans}}</span></td>
                                <td>
                                    <span > {{"Début"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span > {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span > {{"debut"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option>{{"Sans interruption"|trans}}</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span > {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr class="iris">
       <td class="the_day"><input type="checkbox" name="" class="form-checkbox__"> <span class="">{{'Samedi'|trans}}</span></td>
                                <td>
                                    <span > {{"Début"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span > {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span > {{"debut"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option>{{"Sans interruption"|trans}}</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span > {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>
    </tr>
    <tr class="iris">
     <td class="the_day"><input type="checkbox" name="" class="form-checkbox__"> <span class="">{{'Dimanche'|trans}}</span></td>
                                <td>
                                    <span > {{"Début"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>

                                    </select>
                                </td>

                                <td>
                                    <span > {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                        <option>6h 00</option><option>6h 30</option><option>7h 00</option><option>7h 00</option>
                                        <option>7h 30</option><option>8h 00</option><option>8h 30</option><option>9h 00</option>
                                        <option>9h 30</option><option>10h 00</option><option>10h 30</option><option>11h 00</option>
                                        <option>11h 30</option><option>12h 00</option><option>12h 30</option><option>13h 00</option>
                                        <option>13h 30</option><option>14h 00</option><option>14h 30</option><option>15h 00</option>
                                        <option>15h 30</option><option>16h 00</option><option>16h 30</option><option>17h 00</option>
                                        <option>18h 00</option><option>18h 30</option><option>19h 00</option><option>19h 30</option>
                                        <option>20h 00</option><option>20h 30</option><option>21h 00</option><option>21h 30</option>
                                        <option>22h 00</option><option>22h 30</option><option>23h 00</option><option>23h 30</option>
                                        <option>00h 00</option><option>00h 30</option><option>01h 00</option><option>01h 30</option>
                                        <option>02h 00</option><option>02h 30</option><option>03h 00</option><option>03h 30</option>
                                        <option>04h 00</option><option>04h 30</option><option>05h 00</option><option>05h 30</option>


                                    </select>
                                </td>

                                 <td>
                                    <span > {{"debut"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option>{{"Sans interruption"|trans}}</option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>

                                     <span > {{"fin"|trans}} :</span>
                                    <select name="" class="select_option">
                                         <option></option><option>12h - 13h</option><option>13h - 14h</option>
                                        <option>12h - 14h</option>
                                    </select>
                                </td>


    </tr>

  </tbody>
                        </table>    
              <!-- fin du tableau-->

              <!-- fin du tableau-->
             
             <div class="wrapper2" >

                     <input type="checkbox" id="hide_2" name="add_items" class=""> <label class="my_span_" for="select" ><b>{{'Selon le calendrier suivant'|trans}}:</b></label>
                   
                         
              <div id="all_week_div" style="display:none !important;">
                                              <div class="margin_zero">
                                                <div class="col-sm-12 col-xs-12 col-lg-3 col-md-3" style="margin-top:11.5px !important;">
                                                  <input type="checkbox" name="" class="toutes_les"> <span class="les_semaines"> {{'Toutes les semaines'|trans}} </span>
                                                </div>

                                                <div class="col-sm-12 col-xs-12 col-lg-9 col-md-9" style="margin-left:0px !important;">
                                                <input type="radio" name="" id="" class="jusqua"> <span class="days_mont_year" style="margin-top:17px !important;">{{'A partir du'|trans}}:</span>
                                                <!-- le jours -->
                              
                                              
                              
                              <input type="text" id="datepicker" name="date" class="" style="margin-top:15px !important">
                              
                                <span class="days_mont_year" style="margin-top:17px !important;">{{"Jusqu'au"|trans}}:</span>
                                              
                                                <input type="text" id="datepicker2" name="date" class="" style="margin-top:15px !important">
                                             
                                              </div>



                                              </div>
                          
                          <br>
                          
                          <div class="" >
                            <p style="clear: both !important;"></p>
                            <br>
                                              <div class="">

                                                        <div class="col-sm-12 col-xs-12 col-lg-2 col-md-2" style="">


                                                <input type="checkbox" name="" id="periode_allant" class="class_in" style=" "> <label for="periode_allant" class="in_3" style="display: inline-block;vertical-align: top;">{{'Période du'|trans}} </label>
                                                            </div>
                                                       <div class="col-sm-12 col-xs-12 col-lg-10 col-md-10">
                                                           <!-- le jours -->
                                                <select class="select_item4">
                                                    <option>{{'Jour'|trans}}</option><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
                                                </select>

                                              <!-- fin du jour -->

                                                             <!-- le mois -->
                                                <select class=" select_item4">
                                                  <option value="">{{'Mois'|trans}}</option><option value="01">{{"Janvier"|trans}}</option><option value="02">{{"Février"|trans}}</option><option value="03">{{"Mars"|trans}}</option><option value="04">{{"Avril"|trans}}</option><option value="05">{{"Mai"|trans}}</option><option value="06">{{"Juin"|trans}}</option><option value="07">{{"Juillet"|trans}}</option><option value="08">{{"Août"|trans}}</option><option value="09">{{"Septembre"|trans}}</option><option value="10">{{"Octobre"|trans}}</option><option value="11">{{"Novembre"|trans}}</option><option value="12">{{"Décembre"|trans}}</option>
                                                </select>
                                              <!-- fin du mois-->
                                                            <!-- debut de l'année -->
                                                <select class=" select_item4">
                                                  <option value="">{{"Année"|trans}}</option>
                                                  <option value="2018">2018</option>
                                                  <option value="2019">2019</option>
                                                </select>

                                              <!-- fin de l'année -->
                                               <span class="in_">{{"Au"|trans}} </span>

                                              <!-- le jours -->
                                                <select class=" select_item4">
                                                    <option>{{"Jour"|trans}}</option><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
                                                </select>

                                              <!-- fin du jour -->

                                                           <!-- le mois -->
                                                <select class="select_item4">
                                                  <option value="">{{"Mois"|trans}}</option><option value="01">{{"Janvier"|trans}}</option><option value="02">{{"Février"|trans}}</option><option value="03">{{"Mars"|trans}}</option><option value="04">{{"Avril"|trans}}</option><option value="05">{{"Mai"|trans}}</option><option value="06">{{"Juin"|trans}}</option><option value="07">{{"Juillet"|trans}}</option><option value="08">{{"Août"|trans}}</option><option value="09">{{"Septembre"|trans}}</option><option value="10">{{"Octobre"|trans}}</option><option value="11">{{"Novembre"|trans}}</option><option value="12">{{"Décembre"|trans}}</option>
                                                </select>
                                              <!-- fin du mois-->

                                              <!-- debut de l'année -->
                                                <select class="select_item4">
                                                  <option value="">{{"Année"|trans}}</option>
                                                  <option value="2018">2018</option>
                                                  <option value="2019">2019</option>
                                                </select>

                                              <!-- fin de l'année -->
                                              

                                                        </div>

                                                        <p style="clear: both !important;"></p>
                                              <button class="btn btn-warning btn-xs  add_fields_4" id=""><i class="fa fa-plus"></i> {{'Ajouter période'|trans}} </button>
                                              </div>

                                              <br>



                                            </div>


                              <!-- debut du code et du -->
                              <div class="wrapper_4" style="margin-bottom:10px !important;width:80%;"></div>
                              <!-- fin du code et du -->
                          

                                              <br><br>



                                            </div>
                        
                   
                    </div>

             </div>

                  </div>
                  <!--<div class="col-sm-12 col-sm-12 col-md-8 col-lg-8"><br>
                    <div class="wrapper2" style="width: 100% !important;">

                      <label class="my_span_" for="select2" id="hide_22"><input type="checkbox" id="select2" name="add_items_ressources" class=""> Utilisation de cette Ressource</lable>
                      <p class="show_22" style="display:none !important;">
                         <input type="text" class="form-control"  placeholder="Nom de la ressource" style="height: 35px;float:left !important;width: 180px !important;"> &nbsp;

                        <button  class="btn btn-primary btn_valid add_fields2" style="float:right !important;"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</button>
                    </p>
                    <br>
                    </div>
                  </div> -->
                </div>

                <div class="pull-right">
                <br><br>
                <button type="submit" class="btn btn-success btn_valid "><i class="fa fa-floppy-o" aria-hidden="true"></i>
{{'Enregistrer'|trans}}</button>



                <button type="reset" class="btn  btn-danger  btn_valid"><i class="fa fa-times"></i>
 {{'Annuler'|trans}}</button>
             

            </div>


              </form>

                <br><br><br>

      </div>

              </div>

        <!--  /row -->
      </section>
             <!-- fin -->

            </div>

          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>

{% endblock %}

{% block scripts %}


<script type="text/javascript">
              $(document).ready(function(){
                $("#only").on('click',function(){
                  $(".container_news_date").show();
                });

                $("#first_only").on('click',function(){
                  $(".container_news_date").hide();
                });

                $("#signupForm").validate({
                  rules: {
                    ressource:"required",
                    firstname: {
                      required: true,
                      minlength: 2
                    },
                    coment:{
                      required:true
                    }
                  },
                  messages: {
                    firstname: {
                      required: "<span style='color:#dd4f43'>{{'Nom réquis'|trans}}</span>",
                      minlength: "<span style='color:#dd4f43'> 2 {{'caractères minimum'|trans}}</span>"
                    },
                    coment: {
                      required: "<span style='color:#dd4f43'>{{'Champs réquis'|trans}}</span>",
                      minlength: "<span style='color:#dd4f43'>20 {{'caractères minimum'|trans}}</span>",
                    },
                    ressource:{
                      required: "<span style='color:#dd4f43'>{{'Champs réquis'|trans}}</span>",
                  }
                }
              });


               


                $('#hide_2').on('click',function(){
                  $("#all_week_div").toggle();
                });
               var max_fields = 3; 
                var wrapper    = $(".wrapper_4"); 
                var add_button = $(".add_fields_4"); 
                var x = 1;
            
              $(add_button).click(function(e){
                    e.preventDefault();
              
                    if(x < max_fields){
                        x++; 
                  
                  $(wrapper).append('<div class="wrapper_down_" style=""><div id="btn_add"><div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"><span class="in_2">{{"Et du"|trans}} </span></div><div class="col-xs-12 col-sm-12 col-md-11 col-lg-11"><div class="margin_zero"><select class="select_item4"><option value="">{{"Jour"|trans}}</option><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05<option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20<option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select><select class="select_item4"><option>{{"Mois"|trans}}</option><option value="Janvier">{{"Janvier"|trans}}</option><option value="Février">{{"Février"|trans}}</option><option value="Mars">{{"Mars"|trans}}</option><option value="Avril">{{"Avril"|trans}}</option><option value="Mai">{{"Mai"|trans}}</option><option value="Juin">{{"Juin"|trans}}</option><option value="Juillet">{{"Juillet"|trans}}</option><option value="Août">{{"Août"|trans}}</option><option value="Septembre">{{"Septembre"|trans}}</option><option value="Octobre">{{"Octobre"|trans}}</option><option value="Novembre">{{"Novembre"|trans}}</option><option value="Décembre">{{"Décembre"|trans}}</option></select><select class="select_item4"><option>{{"Année"|trans}}</option><option value="2018">2018</option><option value="2019">2019</option></select><span class="in_">{{"Au"|trans}} </span><select class="select_item4"><option>{{"Jour"|trans}}</option><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select><select class="select_item4"><option value="">{{"Mois"|trans}}</option><option value="01">{{"Janvier"|trans}}</option><option value="02">{{"Février"|trans}}</option><option value="03">{{"Mars"|trans}}</option><option value="04">{{"Avril"|trans}}</option><option value="05">{{"Mai"|trans}}</option><option value="06">{{"Juin"|trans}}</option><option value="07">{{"Juillet"|trans}}</option><option value="08">{{"Août"|trans}}</option><option value="09">{{"Septembre"|trans}}</option><option value="10">{{"Octobre"|trans}}</option><option value="11">{{"Novembre"|trans}}</option><option value="12">{{"Décembre"|trans}}</option></select><select class=" select_item4"><option value="">{{"Année"|trans}}</option><option value="2018">2018</option><option value="2019">2019</option></select></div></div></div><a href="javascript:void(0);" class="remove_field_5 btn-primary"><i class="fa fa-times"></i></a></div>');
                    }
                });

              
                $(wrapper).on("click",".remove_field_5", function(e){
                    e.preventDefault();
                $(this).parent('div').remove(); 
                x--; 
                })


                $("#hide_2").on("click",function(){

                  if($('input[name=add_items]').prop('checked'))
                  {
                    $(".show_2").show();

                  }
                  else {
                    $(".show_2").hide();
                    $(".wrapper_down_").hide();
                  }
                });

                // 

                $("#hide_22").on("click",function(){

                  if($('input[name=add_items_ressources]').prop('checked'))
                  {
                    $(".show_22").show();

                  }
                  else {
                    $(".show_22").hide();
                    $(".wrapper_down_2").hide();
                  }
                });

                $("#datepicker" ).datepicker();
                $("#datepicker2" ).datepicker();

              });
            </script>

{% endblock %}

