 {% extends '::admin_template.html.twig' %}

{% block title %}{{'Administration'|trans}} - {{'Envoyer un message'|trans}} - {{'Prise de rendez-vous et dépôt de dossier en ligne'|trans}} {% endblock %}

{% block style %}
 
{% endblock %}

{% block body %}

   <section id="main-content">
    <script>
      function goBack() {
          window.history.back(); 
      }
      </script>

      <section class="wrapper">
        <!-- page start-->
        <div class="row mt">
         <div class="col-sm-3">
            <section class="panel">
              <div class="panel-body">
                <a href="{{path('dkk_administration_email_compos')}}" class="btn btn-compose">
                  <i class="fa fa-pencil"></i>  {{'Envoyer un message'|trans}}
                  </a>
                <ul class="nav nav-pills nav-stacked mail-nav">
                  <li class="active"><a href="{{path('dkk_administration_reception')}}"> <i class="fa fa-inbox"></i> {{'Boite de réception'|trans}}  <span class="label label-theme pull-right inbox-notification">3</span></a></li>
                  <li><a href="{{path('dkk_administration_email_send')}}"> <i class="fa fa-exclamation-circle"></i>{{'Messages envoyés'|trans}}</a></li>
                  <li><a href="{{path('dkk_administration_corbeille')}}"> <i class="fa fa-trash-o"></i>{{'Corbeille'|trans}}</a></li>
                </ul>
              </div>
            </section>

          </div>
          <div class="col-sm-9">
            <section class="panel">
              <header class="panel-heading wht-bg">
                <h4 class="gen-case" style="display:inline-block;vertical-align:top !important">
                    {{'Envoyer un message à Serdi cameroun'|trans}}

                  </h4>
                    <button  style="display:inline-block;vertical-align:middle !important;margin-top:6px !important;" onclick="goBack()" class="btn btn-theme btn-sm pull-right"><i class="fa fa-times"></i> {{'Annuler'|trans}} </button>
              </header>
              <div class="panel-body">
                <div class="compose-btn pull-right">

                </div>
                <div class="compose-mail">
                  <form role="form-horizontal" method="post">

                    <div class="form-group">
                      <label for="subject" class="">{{'Sujet'|trans}}:</label>
                      <input type="text" tabindex="1" id="subject" class="form-control">
                    </div>
                    <div class="compose-editor">
                      <textarea class="form-control" rows="9"></textarea>
                      <input type="file" class="default">
                    </div>
                    <div class="compose-btn">
                      <button class="btn btn-theme btn-sm"><i class="fa fa-check"></i> {{'Envoyer'|trans}}</button>


                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>


{% endblock %}

