<!doctype html>
<html xmlns:og="http://ogp.me/ns#">
 <head>
   <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <meta name="copyright" content="Dikaki.com">
   <meta name="language" content="fr">
     <link rel="icon" href="{{asset('img/favicon dikaki.png')}}">
   <title>{% block title %} {% endblock %}</title>
   <!-- debut du partage vers facebook -->

           <meta property="og:url" content=""><!-- url complete de la page-->
           <meta property="og:title" content="{{asset('img/grande_banniere.png')}}"><!-- le titre complete de la page-->
           <meta property="og:description" content=""><!-- la description complete de la page-->
           <meta property="og:image" content=""><!-- image representant la page de la page-->

         <!-- fin du partage vers facebook -->


         <!-- debut du partage vers twitter -->

           <meta name="twitter:card" content="website">
           <meta name="twitter:site" content="@dikaki">
           <meta name="twitter:creator" content="@dikaki">
           <meta property="og:url" content=""><!-- url complete de la page-->
           <meta property="og:title" content=""><!-- le titre complete de la page-->
           <meta property="og:description" content=""><!-- la description complete de la page-->
           <meta property="og:image" content=""><!-- image representant la page de la page-->

 {% stylesheets filter='cssrewrite'
         'css/vendor/animate.min.css'
         'css/vendor/bootstrap-social.css'
         'css/vendor/bootstrap.min.css'
         'css/vendor/buttons.css'
         'css/style.css'
         'css/vendor/bootstrap-select.css'
     %}
         <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />



     {% endstylesheets %}

     <!-- block pour les fichier javascript  -->



     {% block style %}

     {% endblock %}

     <!-- fin de la section footer -->


       <style>
             body{
                 background: #f2f5f7;
             }
             .h2_titre2{
                 font-weight: 700 !important;
                 font-size: 1.4em !important;
             }
             .modifier_my_rdv{
                 width: 100% !important;
             }
             .create_acount{
                 width: 100% !important;
             }
             .img_pied_responive{
                 display: block;
                 width: 60px !important;
                 margin-top: 9px;
                 margin-bottom: 7px;
                 float: right !important;
                 margin-right: 40px;
                 clear: both;
             }
             .img_pied_responive > img{
                 border-radius: 5px;
             }
         </style>
 </head>
 <body>

   <header>

         <div class="css-w3kkus">
             <div class="css-1hht6wb">
                 <div class="css-pdic9b">
                     <a href="{{ path('dkk_app_homepage') }}"><img alt="" title="" src="{{asset('img/logo_prestataire.png')}}" itemProp="logo" class="css-2khh9b" /></a>

                 </div>
                 <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" style="vertical-align:middle;font-size:30px;cursor:pointer;height:100%">
                   <a href="{{path('dkk_utilisateur_profile')}}">
                     <g>
                         <path d="m20 32c4.1 0 7.8-2.2 10-5.4-0.1-3.2-6.7-5.1-10-5.1-3.4 0-9.9 1.9-10 5.1 2.2 3.2 5.9 5.4 10 5.4z m0-23.6c-2.7 0-5 2.2-5 5s2.3 5 5 5 5-2.3 5-5-2.3-5-5-5z m0-5c9.2 0 16.6 7.4 16.6 16.6s-7.4 16.6-16.6 16.6-16.6-7.4-16.6-16.6 7.4-16.6 16.6-16.6z"></path>
                     </g>
                     </a>
                 </svg>
                 <ul class="css-1i3fdyu">
                     <li><a href="{{path('dkk_utilisateur_profile')}}">{{'Mon compte'|trans}}</a></li>
                 </ul>
             </div>
         </div>
   </header><!-- /header -->
   <!-- End Header -->

     {% block body %}




             {% endblock %}

         <!-- debut du footer -->
     <br><br>
     <div class="css-1x66d2h">
         <div class="css-qc8a4i">
             <nav class="css-3shme5">
                 <span>
                 <a  href="{{ path('dkk_app_homepage') }}"><span>Accueil</span></a>
                 </span>
                 <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" style="vertical-align:middle;color:rgb(45, 46, 47);padding:0 .75em">
                     <g>
                         <path d="m26.4 20q0 0.6-0.5 1l-10 10q-0.4 0.4-1 0.4t-1-0.4-0.4-1v-20q0-0.6 0.4-1t1-0.4 1 0.4l10 10q0.5 0.4 0.5 1z"></path>
                     </g>
                 </svg>
                 <span>
                 <a href="{{ path('dkk_app_homepage') }}"><span>{{"Service de prise de rendez-vous par internet et gestion de dépôt de dossier proposé par"|trans}} <b>DIKAKI</b></span></a>
                 </span>
                 <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" style="vertical-align:middle;color:rgb(45, 46, 47);padding:0 .75em">
                     <g>
                         <path d="m26.4 20q0 0.6-0.5 1l-10 10q-0.4 0.4-1 0.4t-1-0.4-0.4-1v-20q0-0.6 0.4-1t1-0.4 1 0.4l10 10q0.5 0.4 0.5 1z"></path>
                     </g>
                 </svg>
                 <span>
                 <a  href="javascript:void(0)"><span>© copyright Serdi {{'Cameroun'|trans}} 2003- 2018</span></a>
                 </span>
                 <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" style="vertical-align:middle;color:rgb(45, 46, 47);padding:0 .75em">
                     <g>
                         <path d="m26.4 20q0 0.6-0.5 1l-10 10q-0.4 0.4-1 0.4t-1-0.4-0.4-1v-20q0-0.6 0.4-1t1-0.4 1 0.4l10 10q0.5 0.4 0.5 1z"></path>
                     </g>
                 </svg>

             </nav>
         </div>
     </div>
     <!-- fin du footer -->










 {% javascripts filter='jsqueeze'
             'js/vendor/jquery.min.js'
             'js/vendor/jquery.counterup.js'
             'js/vendor/waypoints.min.js'
             'js/vendor/bootstrap.min.js'
             'js/vendor/slider.js'
             'js/vendor/slideshow.js'
             'js/vendor/script.js'
             'js/vendor/paiement.js'
             'js/vendor/genere.js'
             'js/vendor/bootstrap-select.js'



         %}
         <script src="{{ asset_url }}"></script>
     {% endjavascripts %}


     {% block  scripts3 %}{% endblock %}
     {% block scripts %}
 <script>

     </script>
     {% endblock %}

  {% block  scripts2 %}{% endblock %}



         </body>

</html>
