   <!doctype html>
<html xmlns:og="http://ogp.me/ns#">
    <head>
      <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="copyright" content="Dikaki.com">
      <meta name="language" content="fr">
      <link rel="icon" href="{{asset('img/favicon dikaki.png')}}">
      <title>{% block title %}{% endblock %}</title>

        <meta property="og:url" content=""><!-- url complete de la page-->
              <meta property="og:title" content=""><!-- le titre complete de la page-->
              <meta property="og:description" content=""><!-- la description complete de la page-->
              <meta property="og:image" content="{{asset('img/grande_banniere.png')}}"><!-- image representant la page de la page-->

            <!-- fin du partage vers facebook -->


            <!-- debut du partage vers twitter -->

              <meta name="twitter:card" content="website">
              <meta name="twitter:site" content="@dikaki">
              <meta name="twitter:creator" content="@dikaki">
              <meta property="og:url" content=""><!-- url complete de la page-->
              <meta property="og:title" content=""><!-- le titre complete de la page-->
              <meta property="og:description" content=""><!-- la description complete de la page-->
              <meta property="og:image" content="{{asset('img/grande_banniere.png')}}"><!-- image representant la page de la page-->
	  
	  {% stylesheets filter='cssrewrite'
            'css/vendor/animate.min.css'
            'css/vendor/bootstrap-social.css'
            'css/vendor/bootstrap.min.css'
            'css/vendor/buttons.css'
            'css/vendor/sky-forms.css'
            'css/style.css'
            'css/vendor/jquery-ui.min.css'
            'css/vendor/bootstrap-select.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            <!-- debut du partage vers facebook -->
            
            

        {% endstylesheets %}
        
        {% block style %}
        
        {% endblock %}
        
        <!-- fin de la section footer -->
	
        
        
    </head>
    <body>

        <header>
<!-- Begin Navigation -->
                <div class="navbar-wrapper">
                    <div class="navbar navbar-main" id="fixed-navbar" >
                        <div class="container">
                        
                            
                                    
                                        <!-- Brand -->
                                        <a href="{{ path('dkk_app_homepage') }}" class="">
                      <img src="{{ asset('img/dikaki_horizontal.png')}}" id="second_logo" alt="Dikaki">
                                        </a>
                                        
                                    

                                
                                
                            
                        
                    </div><!-- /navbar -->
                </div><!-- /navbar wrapper -->
                <!-- End Navigation -->

            </header><!-- /header -->
        
        {% block body %}
        

        {% endblock %}
  
        
         <br><br>
    
    <footer style="background:#fff">
            <div class="container-fluid padding">
               <div class="bg_footer">
                  <div class="container">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <h3 class="title_footer"> Notre Adresse</h3>
                      <p class="serdi_infio">
                                    SERDI INFORMATIQUE
                                </p>
                                <p class="contact_para">
                                    BP:11007, Yaoundé - Cameroun
                                </p>
                                <p class="contact_para">
                                    Route aéroport international de Yaoundé
                                    Nsimalen. PK 10 Odza.
                                </p>
                               
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <h3 class="title_footer"> Nos solutions</h3>
                        <ul class="ul_description">
                                  <li class="detail_para">
                                       <a href="{{ path('dkk_app_rendez_vous') }}" class="">DIKAKI Prise de rendez-vous</a>
                                    </li>
                                    <li class="detail_para">
                                       <a href="{{ path('dkk_app_education') }}" class="">DIKAKI Secteur éducatif</a>
                                    </li>
                                    <li class="detail_para">
                                      <a href="{{ path('dkk_app_dossier') }}" class="">DIKAKI Dépôt de dossier</a>
                                    </li>

                                        <li class="detail_para">
                                          <a href="{{ path('dkk_app_billeterie') }}" class="">DIKAKI E-Ticket</a>
                                        </li>
                                         <li class="detail_para">
                                          <a href="{{ path('dkk_app_fonctionnalite') }}" class="">Comment ça marche ? </a>

                                        </li>
                                </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <h3 class="title_footer"> Nos informations</h3>
                         <p class="contact_para">
                                    Ouverture: Lun. - Ven.:
                                    9h - 18h.
                                </p>
                                <p class="contact_para">
                                    Service clients: +237 655 010 808
                                </p>
                                <p class="contact_para">
                                    Support technique: +237 676 862 919
                                </p>
                                <p class="contact_para">
                                    Email: <a href="mailto:info@serdi-cm.com" title="Nous contacter" style="color: #fff !important;font-weight: 700 !important;"> info@serdi-cm.com</a>
                                </p>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <h3 class="title_footer"> Nous suivre</h3>
                      
                       <a class="btn btn-social-icon btn-rw btn-primary btn-md">
                            <i class="fa fa-twitter fa-4x"></i>
                        </a>
                        <a class="btn btn-social-icon btn-rw btn-primary btn-md">
                            <i class="fa fa-instagram fa-4x"></i>
                        </a>
                        <a class="btn btn-social-icon btn-rw btn-primary btn-md">
                            <i class="fa fa-facebook fa-4x"></i>
                        </a>

                         <ul class="ul_description">
                            <li class="detail_para" style="margin-top: 10px !important;margin-bottom: 10px !important;text-decoration: underline !important ;font-size: 1.1em;font-weight: 700 !important;">
                              <a href="{{path('dkk_app_power')}}" class="">La puissance de Dikaki</a>
                            </li>
                            <li class="detail_para" style="text-decoration: underline !important ;font-size: 1.1em;font-weight: 700 !important;">
                            <a href="{{path('dkk_app_a_qui_s_adresse_dikaki')}}" class=""  >A qui s'adresse Dikaki ?</a>

                            </li>
                          </ul>

                    </div>

                  </div>
                    <br>
               </div>
                <div class="container">
                    <div class="row">
                        <div class="small_footer">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p class="copy_right">&copy; 2018 Copyright - DIKAKI SERDI Cameroun  </p>
                            </div>

                            

                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <a href="{{ path('dkk_app_cgu') }}" class="cgu">Mentions légales</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>


        
        {% javascripts filter='jsqueeze'
            'js/vendor/jquery.min.js'
            'js/valider.js'
            'js/vendor/bootstrap.min.js'
            'js/slider.js'
            'js/vendor/slick-carousel_1.8.1_slick.min.js'
            'js/vendor/testimonial-slider.js'
            'js/app.js'
            'js/vendor/jquery-ui.min.js'
            'js/vendor/jquery.validate.min.js'
            'js/vendor/bootstrap-select.js'
            'js/form-control.js'
            'js/vendor/prendre.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% block scripts %}
            <script>

   
    </script>
        {% endblock %}
 </body>  

</html>
