<!doctype html>
<html xmlns:og="http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="copyright" content="Dikaki.com">
        <meta name="language" content="fr">
        <link rel="icon" href="{{asset('img/favicon dikaki.png')}}">
        <title>{% block title %}{% endblock %}</title>

        <meta property="og:url" content=""><!-- url complete de la page-->
        <meta property="og:title" content=""><!-- le titre complete de la page-->
        <meta property="og:description" content=""><!-- la description complete de la page-->
        <meta property="og:image" content="{{asset('img/grande_banniere.png')}}"><!-- image representant la page de la page-->

        <!-- fin du partage vers facebook -->


        <!-- debut du partage vers twitter -->

        <meta name="twitter:card" content="website">
        <meta name="twitter:site" content="@dikaki">
        <meta name="twitter:creator" content="@dikaki">
        <meta property="og:url" content=""><!-- url complete de la page-->
        <meta property="og:title" content=""><!-- le titre complete de la page-->
        <meta property="og:description" content=""><!-- la description complete de la page-->
        <meta property="og:image" content="{{asset('img/grande_banniere.png')}}"><!-- image representant la page de la page-->
       {% block style %}

        {% endblock %}

        {% stylesheets filter='cssrewrite'
            'css/vendor/animate.min.css'
            'css/vendor/bootstrap-social.css'
            'css/vendor/bootstrap.min.css'
            'css/vendor/buttons.css'
            'css/vendor/sky-forms.css'
            'css/style.css'
            'css/vendor/jquery-ui.min.css'
            'css/vendor/bootstrap-select.css'
            'css/vendor/slick_1.5.0.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        <!-- debut du partage vers facebook -->


    {% endstylesheets %}


    <!-- fin de la section footer -->

    <style type="text/css">
         .img_pied_responive{
            display: block;
            width: 60px !important;
            margin-top: 9px;
            margin-bottom: 7px;
            float: right !important;
            margin-right: 40px;
            clear: both;
        }
        .img_pied_responive > img{
            border-radius: 5px;
        }
    </style>

</head>
<body>

     <!-- take rdv avec Dikaki -->
       <a href="{{ path('dkk_app_prendre') }}" class="bounce">
          <i class="fa fa2 fa-envelope"></i>
        </a>
    <!-- fin take rdv avec Dikaki -->

    <!-- site en version d'evaluation -->
  <div class="wrapper_version_evaluation" id="wrapper_version_evaluation">
    <p>
      <span>{{'Vous êtes sur un nouveau site Dikaki-rdv, site  en évaluation pour la prise de rendez-vous et le paiement en ligne'|trans}}.</span>
      <span>{{'Nous attendons vos observations et suggestions afin de mieux répondre à vos attentes'|trans}}.</span>
    </p>
    <a href="" id="link_clise_times"><i class="fa fa-times"></i></a>
  </div>
  <!-- fin site eb version d'evaluation -->

    <!-- Begin Header -->
    <!-- Begin Header -->
    <header>

        <!-- Begin Top Bar -->
        <div class="top-bar top-bar-dark">
            <div class="container">
                <div class="row">
                    <!-- Address and Phone -->
                    <div class="col-sm-7 hidden-xs">
                        <span class="ion-android-system-home home-icon"></span>{{'Plateforme de prise de rendez-vous et paiement en ligne en Afrique'|trans}}.
                    </div>
                    <!-- Social Buttons -->
                    <div class="col-sm-5 text-right">
                        <ul class="topbar-list list-inline">
                            <li>
                                <span class="numbre_serdi">
                                    <span class="ion-ios7-telephone phone-icon"></span>  +237 655 010 808
                                </span>
                                <a class="btn btn-social-icon btn-rw btn-primary btn-xs">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="btn btn-social-icon btn-rw btn-primary btn-xs">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="btn btn-social-icon btn-rw btn-primary btn-xs">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!--/row -->
            </div><!--/container header -->
        </div><!--/top bar -->
        <!-- End Top Bar -->



        <!-- Begin Navigation -->
        <div class="navbar-wrapper">
            <div class="navbar navbar-main" id="fixed-navbar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 column-header">
                            <div class="navbar-header">
                                <!-- Brand -->
                                <a href="{{ path('dkk_app_homepage') }}" class="navbar-brand">
                                    <img src="{{asset('img/dikaki droit.png')}}" class="raleway-logo" alt="Dikaki">
                                </a>
                                <!-- Mobile Navigation -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div><!-- /navbar header -->

                            <!-- Main Navigation - Explained in Documentation -->
                            <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown dropdown-main">
                                        <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{'Solutions'|trans}}<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                        <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                                            <li><a href="{{ path('dkk_app_rendez_vous') }}">{{'Dikaki Rendez-vous'|trans}}</a></li>
                                            <li><a href="{{ path('dkk_app_education') }}">{{'Dikaki Secteur éducatif'|trans}}</a></li>
                                            <li><a href="{{ path('dkk_app_dossier') }}">{{'Dikaki Dépôt de dossier'|trans}} </a></li>
                                            <li><a href="{{ path('dkk_app_billeterie') }}">{{'Dikaki E-ticket'|trans}}</a></li>


                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-main">
                                        <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{'Professionnel'|trans}}<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                        <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                                            <li><a href="{{ path('dkk_professionnel_inscription') }}">{{'Créer un compte'|trans}}</a></li>
                                            <li><a href="{{ path('dkk_professionnel_connexion') }}">{{"J'ai un compte"|trans}}</a></li>


                                        </ul>
                                    </li>
                                    {% if connect == 0 %}
                                    <li class="dropdown dropdown-main">
                                        <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{'Particulier'|trans}}<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                        <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                                            <li><a href="{{ path('dkk_utilisateur_inscription') }}">{{"S'inscrire"|trans}}</a></li>
                                            <li><a href="{{ path('dkk_utilisateur_connexion') }}">{{'Se connecter'|trans}}</a></li>
                                        </ul>
                                    </li>
                                    {% else %}
                                    <li class="dropdown dropdown-main">
                                        <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{'Mon compte'|trans}}<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                        <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                                            <li><a href="{{ path('dkk_utilisateur_authentification') }}">{{'Mes rendez-vous'|trans}}</a></li>
                                            <li><a href="{{ path('dkk_utilisateur_deconnexion') }}">{{'Se déconnecter'|trans}}</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                    <li class="dropdown dropdown-main">
                                                <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{'Français'|trans}}<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                                <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                                                    <li><a href="">{{'Anglais'|trans}}</a></li>
                                                    <li><a href="">{{'Espagnol'|trans}}</a></li>
                                                    <li><a href="">{{'Portugais'|trans}}</a></li>

                                                </ul>
                                            </li>


                            </nav><!-- /nav -->
                        </div>
                    </div>
                </div><!-- /container header -->
            </div><!-- /navbar -->
        </div><!-- /navbar wrapper -->
        <!-- End Navigation -->

    </header><!-- /header -->
    <!-- End Header -->
    {% block body %}

    {% endblock %}

    <!-- debut de la section footer-->
    <footer>
        <div class="container-fluid padding">
            <div class="bg_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h3 class="title_footer">
                                {{'Solutions'|trans}}
                            </h3>


                            <ul class="ul_description">
                                <li class="detail_para">
                                    <a href="{{ path('dkk_app_rendez_vous') }}" class="">{{'DIKAKI Prise de rendez-vous'|trans}}</a>
                                </li>
                                <li class="detail_para">
                                    <a href="{{ path('dkk_app_education') }}" class="">{{'DIKAKI Secteur éducatif'|trans}}</a>
                                </li>
                                <li class="detail_para">
                                    <a href="{{ path('dkk_app_dossier') }}" class="">{{'DIKAKI Dépôt de dossier'|trans}}</a>
                                </li>

                                <li class="detail_para">
                                    <a href="{{ path('dkk_app_billeterie') }}" class="">{{'DIKAKI E-Ticket'|trans}}</a>
                                </li>
                                <li class="detail_para">
                                    <a href="{{ path('dkk_app_fonctionnalite') }}" class="">{{'Comment ça marche'|trans}} ? </a>

                                </li>
                            </ul>
                            <p class="p_letter">
                                <label for="letter">{{'Newsletter'|trans}}</label>
                            </p>
                            <form method="post" action="" id="register_form" autocomplete="off">
                                <span class="val_email_"></span>
                                <div class="newsletter_wrapper">
                                <input type="text" name="newsletter" class="letter_form form-control" placeholder="{{'Votre adresse E-mail'|trans}}">
                                <button type="submit" id="" class="send_newsletter_infos"><i class="fa fa-paper-plane "></i></button>
                            </div>
                            </form>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h3 class="title_footer">
                                {{'Contactez-nous'|trans}}
                            </h3>
                            <p class="serdi_infio">
                                {{'SERDI INFORMATIQUE'|trans}}
                            </p>
                            <p class="contact_para">
                                {{'BP:11007, Yaoundé - Cameroun'|trans}}
                            </p>
                            <p class="contact_para">
                                {% trans %}Route aéroport international de Yaoundé
                                Nsimalen. PK 10 Odza.{% endtrans %}
                            </p>
                            <p class="contact_para">
                                {{'Ouverture: Lun. - Ven.'|trans}}:
                                {{'9h - 18h'|trans}}.
                            </p>
                            <p class="contact_para">
                                {{'Service clients'|trans}}: +237 655 010 808
                            </p>
                            <p class="contact_para">
                                {{'Support technique'|trans}}: +237 676 862 919
                            </p>
                            <p class="contact_para">
                                {{'Email'|trans}}: <a href="mailto:contact@dikaki-rdv.com" title="Nous contacter" style="color: #fff !important;font-weight: 700 !important;">contact@dikaki-rdv.com</a>
                            </p>


                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h3 class="title_footer">
                                {{'Assistance rapide'|trans}}
                            </h3>
                            <p class="para_assis">
                                {% trans %}Nos conseillers vous assistent dès les premières heures d'utilisation
                                en vous expliquant toutes les fonctionnalités de la solution agenda
                                planning Dikaki et la prise de rendez-vous en ligne. Nos équipes
                                restent disponibles et réagissent rapidement à votre sollicitation.{% endtrans %}
                            </p>
                            <p>
                                <a href="{{ path('dkk_app_contact') }}" class="footer_items_">{{'Contactez-nous'|trans}}</a>
                            </p>


                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h3 class="title_footer">
								{{'Trouver un rendez-vous'|trans}}
                            </h3>
                            <p>
                                <a href="{{ path('dkk_professionnel_choix') }}" class="footer_items_">{{'Professionnel'|trans}}</a>
                            </p>
                            <h3 class="title_footer">
                                {{'Trouver un évènement'|trans}}
                            </h3>
                            <p>
                                <a href="{{ path('dkk_app_evenement') }}" class="footer_items_">{{'Evènement'|trans}}</a>
                            </p>
                            <h3 class="title_footer">
                                {{'Communauté'|trans}}
                            </h3>
                            <p>
                                <a href="{{ path('dkk_app_partenaire') }}" class="footer_items_">{{'Devenir partenaire'|trans}}</a>
                            </p>

                            <p>
                                    <a href="{{path('dkk_app_blog')}}" class="footer_items_">{{'Blog et Actualités'|trans}}</a>
                                </p>

                        </div>
                    </div>

               </div>
               <div class="container-fluid" style="background-color: #fff !important">
                    <div class="row">
                        <div class="small_footer">
                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                <p class="copy_right pull-left" style="display: inline-block;vertical-align: top;color: #22242a !important;">&copy; 2018 Copyright - DIKAKI SERDI {{'Cameroun'|trans}}  </p>
                                <a href="{{ path('dkk_app_cgu') }}" class="cgu" style="display: inline-block;vertical-align: top;margin-left: 40px;color: #22242a !important;">{{'Mentions légales'|trans}}</a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <a href="{{ path('dkk_app_homepage') }}" class="img_pied_responive">
                                  <img src="{{asset('img/logo_prestataire.png')}}" class="img-responsive">
                                </a>
                            </div>
                              <p style="clear: both !important;margin-top: 30px !important"></p>
                        </div>
                    </div>
                </div>





    </footer>

    <!-- block pour les fichier javascript  -->

    {% javascripts filter='jsqueeze'
                'js/vendor/jquery.min.js'
                'js/valider.js'
                'js/vendor/bootstrap.min.js'
                'js/slider.js'
                'js/vendor/slick-carousel_1.8.1_slick.min.js'
                'js/vendor/testimonial-slider.js'
                'js/vendor/jquery-ui.min.js'
                'js/vendor/jquery.validate.min.js'
                'js/vendor/bootstrap-select.js'
                'js/form-control.js'
                'js/default.js'
                'js/vendor/slick_1.5.0.min.js'
                'js/news.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function () {
            // seconde ligne

            $(".center").slick({
                dots: false,
                infinite: true,
                centerMode: true,
                slidesToShow: 4,
                slidesToScroll: 3,
                centerPadding: '0px',
                swipeToSlide: true,
                speed: 400,
                autoplay: true,
                arrows: false,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 3,
                            infinite: true,
                            //dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });


        });

    </script>

    {% block scripts %}
        <script type="text/javascript">
        var address;
        $(document).ready(function () {
            $("#submitEmail").on('click', function () {
                address = $('#letter').val();
                $('#newsletter').val("");
                $.ajax({
                    url: "{{ path('dkk_app_newsletter') }}",
                    type:"POST",
                    data:{email:address},
                    success: function(msg){
                        alert(msg);
                    },
                    error: function(xhr){
                        alert("erreur ajax" + xhr);
                    }
                });
            });
        });
    </script>
    {% endblock %}


</body>

</html>
