<!doctype html>
<html xmlns:og="http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        
        <title>{% block title %}{% endblock %} </title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="copyright" content="Dikaki.com Copyright ">
        <meta name="language" content="fr">
        <link rel="icon" href="{{asset('img/favicon dikaki.png')}}">


        <meta property="og:url" content=""><!-- url complete de la page-->
        <meta property="og:title" content=""><!-- le titre complete de la page-->
        <meta property="og:description" content=""><!-- la description complete de la page-->
        <meta property="og:image" content="{{asset('img/grande_banniere.png')}}"><!-- image representant la page de la page-->

        <!-- fin du partage vers facebook -->


        <!-- debut du partage vers twitter -->

        <meta name="twitter:card" content="website">
        <meta name="twitter:site" content="@dikaki">
        <meta name="twitter:creator" content="@dikaki">

        {% block style %}{% endblock %}
        
        {% stylesheets filter='cssrewrite'
		            'css/vendor/bootstrap-social.css'
		            'css/vendor/bootstrap.min.css'
		            'css/vendor/buttons.css'
		            'css/style.css'	        
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

    </head>
    <body>
         <!-- take rdv avec Dikaki -->
       <!-- <a href="{{ path('dkk_app_prendre') }}" class="bounce">
          <i class="fa fa2 fa-envelope"></i>
        </a>-->
    <!-- fin take rdv avec Dikaki -->

    <!-- site en version d'evaluation -->
  <div class="wrapper_version_evaluation" id="wrapper_version_evaluation">
    <p>
      <span>Vous êtes sur un nouveau site Dikaki-rdv, site en évaluation pour la prise de rendez-vous et le paiement en ligne.</span>
      <span>Nous attendons vos observations et suggestions afin de mieux répondre à vos attentes.</span>
    </p>
    <a href="" id="link_clise_times"><i class="fa fa-times"></i></a>
  </div>
  <!-- fin site eb version d'evaluation -->

        <!-- Begin Header -->
        <header>
            <!-- Begin Navigation -->
            <div class="navbar-wrapper">
                <div class="navbar navbar-main" id="fixed-navbar" >
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 column-header">
                                <div class="navbar-header ">
                                    <!-- Brand -->
                                    <a href="{{ path('dkk_app_homepage') }}" class="navbar-brand">
                                        <img src="{{asset('img/dikaki droit.png')}}" class="raleway-logo" alt="Dikaki">
                                    </a>
                                    <!-- Mobile Navigation -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div><!-- /navbar header -->

                                <!-- Main Navigation - Explained in Documentation -->
                                <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
                                    <ul class="nav navbar-nav navbar-right">


                                        <li class="dropdown dropdown-main">
                                            <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Inscription<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                            <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                                                <li><a href="{{ path('dkk_professionnel_inscription') }}"> Professionnel</a></li>
                                                <li><a href="{{ path('dkk_utilisateur_inscription') }}"">Particulier </a></li>


                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-main">
                                            <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Connexion<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                            <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                                                <li><a href="{{ path('dkk_professionnel_connexion') }}">Professionnel</a></li>
                                                <li><a href="{{ path('dkk_utilisateur_connexion') }}">Particulier</a></li>


                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-main">
                                            <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Mon compte<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                            <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                                                <li><a href="{{ path('dkk_utilisateur_authentification') }}">Mes rendez-vous</a></li>
                                                <li><a href="{{ path('dkk_utilisateur_deconnexion') }}">Se déconnecter</a></li>


                                            </ul>
                                        </li>

                                    </ul>

                                </nav><!-- /nav -->
                            </div>
                        </div>
                    </div><!-- /container header -->
                </div><!-- /navbar -->
            </div><!-- /navbar wrapper -->
            <!-- End Navigation -->

        </header><!-- /header -->
        <!-- End Header -->

        {% block body %}

        {% endblock %}

        <div class="">

            <!-- fin de la section des statistique -->

            <!-- debut de la section footer-->
            <footer>
                <div class="container-fluid padding">
                    <div class="bg_footer">
                        <div class="container">
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <h3 class="title_footer"> Notre Adresse</h3>
                                <p class="serdi_infio">
                                    SERDI INFORMATIQUE
                                </p>
                                <p class="contact_para">
                                    BP:11007, Yaoundé - Cameroun
                                </p>
                                <p class="contact_para">
                                    Route aéroport international de Yaoundé
                                    Nsimalen. PK 10 Odza.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <h3 class="title_footer"> Nos solutions</h3>
                                <ul class="ul_description">
                                    <li class="detail_para">
                                        <a href="{{ path('dkk_app_rendez_vous') }}" class="">DIKAKI Prise de rendez-vous</a>
                                    </li>
                                    <li class="detail_para">
                                        <a href="{{ path('dkk_app_education') }}" class="">DIKAKI Secteur éducatif</a>
                                    </li>
                                    <li class="detail_para">
                                        <a href="{{ path('dkk_app_dossier') }}" class="">DIKAKI Dépôt de dossier</a>
                                    </li>

                                    <li class="detail_para">
                                        <a href="{{ path('dkk_app_billeterie') }}" class="">DIKAKI E-Ticket</a>
                                    </li>
                                    <li class="detail_para">
                                        <a href="{{ path('dkk_app_fonctionnalite') }}" class="">Comment ça marche ? </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <h3 class="title_footer"> Nos informations</h3>
                                <p class="contact_para">
                                    Ouverture: Lun. - Ven.:
                                    9h - 18h.
                                </p>
                                <p class="contact_para">
                                    Service clients: +237 655 010 808
                                </p>
                                <p class="contact_para">
                                    Support technique: +237 676 862 919
                                </p>
                                <p class="contact_para">
                                   Email:  <a href="mailto:info@serdi-cm.com" title="Nous contacter" style="color: #fff !important;font-weight: 700 !important;">info@serdi-cm.com</a>
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <h3 class="title_footer"> Nous suivre</h3>

                                <a class="btn btn-social-icon btn-rw btn-primary btn-md">
                                    <i class="fa fa-twitter fa-4x"></i>
                                </a>
                                <a class="btn btn-social-icon btn-rw btn-primary btn-md">
                                    <i class="fa fa-instagram fa-4x"></i>
                                </a>
                                <a class="btn btn-social-icon btn-rw btn-primary btn-md">
                                    <i class="fa fa-facebook fa-4x"></i>
                                </a>

                                <ul class="ul_description">
                                    <li class="detail_para" style="margin-top: 10px !important;margin-bottom: 10px !important;text-decoration: underline !important ;font-size: 1.1em;font-weight: 700 !important;">
                                        <a href="{{path('dkk_app_power')}}" class="">La puissance de Dikaki</a>
                                    </li>
                                    <li class="detail_para" style="text-decoration: underline !important ;font-size: 1.1em;font-weight: 700 !important;">
                                        <a href="{{path('dkk_app_a_qui_s_adresse_dikaki')}}" class=""  > A qui s'adresse Dikaki ?</a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="small_footer">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <p class="copy_right">&copy; 2018 Copyright - DIKAKI SERDI Cameroun  </p>
                                </div>



                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <a href="{{ path('dkk_app_cgu') }}" class="cgu">Mentions légales</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        {% javascripts filter='jsqueeze'
	            'js/vendor/jquery.min.js'
	            'js/vendor/bootstrap.min.js'
	            'js/vendor/choix.js' 
	            'js/news.js'  
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% block scripts %}{% endblock %}
        
    </body>
</html>
