<!doctype html>
<html xmlns:og="http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock %} </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="copyright" content="Dikaki.com Copyright ">
        <meta name="language" content="fr">
        <link rel="icon" href="{{asset('img/favicon dikaki.png')}}">


        <meta property="og:url" content=""><!-- url complete de la page-->
        <meta property="og:title" content=""><!-- le titre complete de la page-->
        <meta property="og:description" content=""><!-- la description complete de la page-->
        <meta property="og:image" content="{{asset('img/grande_banniere.png')}}"><!-- image representant la page de la page-->

        <!-- fin du partage vers facebook -->


        <!-- debut du partage vers twitter -->

        <meta name="twitter:card" content="website">
        <meta name="twitter:site" content="@dikaki">
        <meta name="twitter:creator" content="@dikaki">

        {% block style %} {% endblock %}

        {% stylesheets filter='cssrewrite'
		            'css/vendor/bootstrap-social.css'
		            'css/vendor/bootstrap.min.css'
		            'css/vendor/buttons.css'
		            'css/style.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        <style type="text/css">
        .img_pied_responive{
            display: block;
            width: 60px !important;
            margin-top: 9px;
            margin-bottom: 7px;
            float: right !important;
            margin-right: 40px;
            clear: both;
         }
        .img_pied_responive > img{
            border-radius: 5px;
        }
    </style>

    </head>
    <body>
         <!-- take rdv avec Dikaki -->
        <a href="{{ path('dkk_app_prendre') }}" class="bounce">
          <i class="fa fa2 fa-envelope"></i>
        </a>
    <!-- fin take rdv avec Dikaki -->

    <!-- site en version d'evaluation -->
  <div class="wrapper_version_evaluation" id="wrapper_version_evaluation">
    <p>
      <span>{{"Vous êtes sur un nouveau site Dikaki-rdv, site en évaluation pour la prise de rendez-vous et le paiement en ligne"|trans}}.</span>
      <span>{{"Nous attendons vos observations et suggestions afin de mieux répondre à vos attentes"|trans}}.</span>
    </p>
    <a href="" id="link_clise_times"><i class="fa fa-times"></i></a>
  </div>
  <!-- fin site eb version d'evaluation -->

        <!-- Begin Header -->
        <header>
            <!-- Begin Navigation -->
            <div class="navbar-wrapper">
                <div class="navbar navbar-main" id="fixed-navbar" >
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 column-header">
                                <div class="navbar-header ">
                                    <!-- Brand -->
                                    <a href="{{ path('dkk_app_homepage') }}" class="navbar-brand">
                                        <img src="{{asset('img/dikaki droit.png')}}" class="raleway-logo" alt="Dikaki">
                                    </a>
                                    <!-- Mobile Navigation -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div><!-- /navbar header -->

                                <!-- Main Navigation - Explained in Documentation -->
                                <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
                                    <ul class="nav navbar-nav navbar-right">


                                        <li class="dropdown dropdown-main">
                                            <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{'Inscription'|trans}}<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                            <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                                                <li><a href="{{ path('dkk_professionnel_inscription') }}"> {{'Professionnel'|trans}}</a></li>
                                                <li><a href="{{ path('dkk_utilisateur_inscription') }}">{{'Particulier'|trans}} </a></li>


                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-main">
                                            <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{'Connexion'|trans}}<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                            <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                                                <li><a href="{{ path('dkk_professionnel_connexion') }}">{{'Professionnel'|trans}}</a></li>
                                                <li><a href="{{ path('dkk_utilisateur_connexion') }}">{{'Particulier'|trans}}</a></li>


                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-main">
                                            <a href="" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{'Mon compte'|trans}}<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                            <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                                                <li><a href="{{ path('dkk_utilisateur_authentification') }}">{{'Mes rendez-vous'|trans}}</a></li>
                                                <li><a href="{{ path('dkk_utilisateur_deconnexion') }}">{{'Se déconnecter'|trans}}</a></li>


                                            </ul>
                                        </li>

                                    </ul>

                                </nav><!-- /nav -->
                            </div>
                        </div>
                    </div><!-- /container header -->
                </div><!-- /navbar -->
            </div><!-- /navbar wrapper -->
            <!-- End Navigation -->

        </header><!-- /header -->
        <!-- End Header -->

        {% block body %}

        {% endblock %}

        <div class="">

            <!-- fin de la section des statistique -->

            <!-- debut de la section footer-->
            <footer>
                <div class="container-fluid padding">
                    <div class="bg_footer">
                        <div class="container">
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <h3 class="title_footer"> {{'Notre Adresse'|trans}}</h3>
                                <p class="serdi_infio">
                                    {{'SERDI INFORMATIQUE'|trans}}
                                </p>
                                <p class="contact_para">
                                    {{'BP:11007, Yaoundé - Cameroun'|trans}}
                                </p>
                                <p class="contact_para">
                                    {% trans %}Route aéroport international de Yaoundé
                                    Nsimalen. PK 10 Odza.{% endtrans %}
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <h3 class="title_footer"> {{'Nos solutions'|trans}}</h3>
                                <ul class="ul_description">
                                    <li class="detail_para">
                                        <a href="{{ path('dkk_app_rendez_vous') }}" class="">{{'DIKAKI Prise de rendez-vous'|trans}}</a>
                                    </li>
                                    <li class="detail_para">
                                        <a href="{{ path('dkk_app_education') }}" class="">{{'DIKAKI Secteur éducatif'|trans}}</a>
                                    </li>
                                    <li class="detail_para">
                                        <a href="{{ path('dkk_app_dossier') }}" class="">{{'DIKAKI Dépôt de dossier'|trans}}</a>
                                    </li>

                                    <li class="detail_para">
                                        <a href="{{ path('dkk_app_billeterie') }}" class="">{{'DIKAKI E-Ticket'|trans}}</a>
                                    </li>
                                    <li class="detail_para">
                                        <a href="{{ path('dkk_app_fonctionnalite') }}" class="">{{'Comment ça marche'|trans}} ? </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <h3 class="title_footer"> {{'Nos informations'|trans}}</h3>
                                <p class="contact_para">
									{{'Ouverture: Lun. - Ven.'|trans}}:
                                    {{'9h - 18h'|trans}}.
                                </p>
                                <p class="contact_para">
                                    {{'Service clients'|trans}}: +237 655 010 808
                                </p>
                                <p class="contact_para">
                                    {{'Support technique'|trans}}: +237 676 862 919
                                </p>
                                <p class="contact_para">
                                   {{'Email'|trans}}:  <a href="mailto:info@serdi-cm.com" title="Nous contacter" style="color: #fff !important;font-weight: 700 !important;">info@serdi-cm.com</a>
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <h3 class="title_footer"> {{'Nous suivre'|trans}}</h3>

                                <a class="btn btn-social-icon btn-rw btn-primary btn-md">
                                    <i class="fa fa-twitter fa-4x"></i>
                                </a>
                                <a class="btn btn-social-icon btn-rw btn-primary btn-md">
                                    <i class="fa fa-instagram fa-4x"></i>
                                </a>
                                <a class="btn btn-social-icon btn-rw btn-primary btn-md">
                                    <i class="fa fa-facebook fa-4x"></i>
                                </a>

                                <p style="margin-top: 10px"></p>
                        <a href="{{path('dkk_app_power')}}" class="dikaki_add">{{'La puissance de Dikaki'|trans}}</a>
                        <a href="{{path('dkk_app_a_qui_s_adresse_dikaki')}}" class="dikaki_add">{{"A qui s'adresse Dikaki"|trans}} ?</a>

                            </div>
                        </div>
                    </div>
                    <div class="container">
                    <div class="row">
                        <div class="small_footer">
                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                <p class="copy_right pull-left" style="display: inline-block;vertical-align: top;color: #22242a !important;">&copy; 2018 Copyright - DIKAKI SERDI {{'Cameroun'|trans}}  </p>
                                <a href="{{ path('dkk_app_cgu') }}" class="cgu" style="display: inline-block;vertical-align: top;margin-left: 40px;color: #22242a !important;">{{'Mentions légales'|trans}}</a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <a href="{{ path('dkk_app_homepage') }}" class="img_pied_responive">
                                  <img src="{{asset('img/logo_prestataire.png')}}" class="img-responsive">
                                </a>
                            </div>
                             <p style="clear: both !important;margin-top: 30px !important"></p>
                        </div>
                    </div>
                </div>
                </div>
            </footer>
        </div>
        {% javascripts filter='jsqueeze'
	            'js/vendor/jquery.min.js'
	            'js/vendor/bootstrap.min.js'
	            'js/vendor/choix.js'
	            'js/news.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block scripts %}{% endblock %}

    </body>
</html>
