{% extends '::last.html.twig' %}

{% block title %} {{ "Pour qui est destiné"|trans }} Dikaki :: Dikaki{% endblock %}

{% block body %}

       <div class="container">
        <br><br><br><br>
        <h2 class="h1_title_description" id="h1_title_description"> <span>a</span> {{'qui est destiné'|trans}} Dikaki ? </h2>
      <p class="p_dispose2">{{'Le système de prise de rendez-vous et réservation en ligne'|trans}}<span style="display: block !important;"></span> {{'est spécifiquement conçu pour les prestataires de services'|trans}}. </p>
      <p class="p_dispose3"> {{"Qu'il s'agisse"|trans}}: <span style="display: block !important;"></span></p>
    </div>

     <div class="wrapper_ligne2">
      <br>
        <div class="container-fluid">
            <div class="container">
             <div class="row ">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 div_left2">
                <div class="wrapper_voici2">
                  <p class="les_client2 b">
                         {{'De la santé'|trans}}.
                    </p>
                    <p class="detail_client2">
                     {{'Aux médécins et autres professionnels de santé'|trans}}.
                    </p>
                      <p style="margin-top: 30px !important"></p>
                    <img src="{{ asset('img/african-american-docteur-woman-image_csp45547572.jpg')}}" class="img-responsive img_voici2 img-circle">
                    
                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 div_right2">
                <div class="wrapper_voici2">
                  <p class="les_client2 b">
                        {{'De la beauté'|trans}}.
                    </p>
                    <p class="detail_client2">
                      
						{{'Aux professionnels de la beauté et du bien-être'|trans}}. 
                    </p>
                    <p style="margin-top: 30px !important"></p>
                    <img src="{{ asset('img/beaute.jpg')}}" class="img-responsive img_voici2 img-circle">
                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 div_left2">
                 <div class="wrapper_voici2">
                  <p class="les_client2">
                        {{"Des autres activités (professions libérales) PME et grandes entreprises"|trans}}.
                    </p>
                    <p class="detail_client2">
                       

                    </p>
                    <img src="{{ asset('img/pme.jpg')}}" class="img-responsive img_voici2 img-circle">
                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 div_right2">
                 <div class="wrapper_voici2">
                  <p class="les_client2">
                       {{' Des administrations et services publics'|trans}}.

                    </p>
                    <p class="detail_client2">
                    

                    </p>
                    <p class="img_medecin_down"></p>
                    <img src="{{ asset('img/Armoiries.png')}}" class="img-responsive img_voici2 img-circle">
                    
                </div>
            </div>
        </div>
            </div>
        </div>
  
        <br><br><br><br>
    </div>

    <!-- suite deux -->

     <div class="container">
        <h2 class="h1_title_description2"> {{'Pourquoi utiliser'|trans}} Dikaki ? </h2>
      <h4 class="h4_avantages">{{'Les Avantages'|trans}}</h4>
      <p class="p_dispose">Dikaki {{'dispose de toutes les fonctionnalités dont vous avez'|trans}} <span style="display: block !important;"></span>{{'besoin pour gérer votre activité et assurer votre présence sur internet'|trans}}.</p>

    </div>

     <div class="wrapper_ligne3">
      <br><br><br><br>
        <div class="container-fluid">
            <div class="container">
             <div class="row ">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 div_left2">
                <div class="wrapper_voici3">
                    <img src="{{asset('img/iconfinder_Clock4_34216.png')}}" class="img-responsive img_voici3 img-circle">
                    <p class="les_client3 b">
                        {{'Gain de temps'|trans}}
                    </p>
                    <p class="detail_client3">
                      {{'Gérez toute vos réservations / rendez-vous  en ligne'|trans}} <span style="display: block;">{{'(Tablette, Téléphone, Pc)'|trans}}.</span>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 div_right2">
                <div class="wrapper_voici3">
                    <img src="{{asset('img/iconfinder_user-group_285648.png')}}" class="img-responsive img_voici3 img-circle">
                    <p class="les_client3 b">
                       {{'Plus de clients'|trans}}.
                    </p>
                    <p class="detail_client3">
                       {{"Transformer plus les visiteurs en clients générateurs du chiffre d'affaires"|trans}}.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 div_left2">
                 <div class="wrapper_voici3">
                    <img src="{{asset('img/iconfinder_key_1055040.png')}}" class="img-responsive img_voici3 img-circle">
                    <p class="les_client3">
                       {{' Sécurise les recettes'|trans}}
                    </p>
                    <p class="detail_client3">
                      {{" Le paiement des prestations se fait automatiquement au moment de la prise de rendez-vous / réservation"|trans}}. 
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 div_right2">
                 <div class="wrapper_voici3">
                    <img src="{{asset('img/iconfinder_TechnicalSupportRepresentative_Male_Light_80907.png')}}" class="img-responsive img_voici3 img-circle">
                    <p class="les_client3">
                      {{' Relation client'|trans}}.

                    </p>
                    <p class="detail_client3">
                     
                     {{" Confirmation et rappel automatique, solution mobile, simple d'utilisation,  aucune compétence technique n'est réquise"|trans}}.
                    </p>
                </div>
            </div>
        </div>
            </div>
        </div>
    <br><br><br><br>

    </div>

    <!-- suite 3 -->
    <div class="container">
        <p class="essaie_gratuit">
           {{" Essayer d'abord. Puis décider ensuite "|trans}}
        </p>
      <span class="item_texte_"> {{'Vous êtes assuré de votre présence en ligne'|trans}}.</span>
       <span class="item_texte_2">{{"Acceptez  les réservations / rendez-vous même en déhors des horaires d'ouverture"|trans}}.</span>

    </div>
    

   
    <!-- fin de la section disponible sur tous les appareil -->
            
               
{% endblock %}

{% block scripts %}
 
{% endblock%}

