{% extends '::client.html.twig' %}

{% block title %}{{'Clinique du docteur Ebogo reservation'|trans}} :: {{'Prise de rendez-vous et dépôt de dossier en ligne'|trans}} {% endblock %}

{% block body %}


    <!-- debut du code -->

    <div class="container" id="container_2">
        <div class="margin_center">
            <div>
                <div class="css-ezupjj">
                    <div class="css-ej55tb">
                        <h1 class="h2_titre2"><span>{{'Clinique du Docteur'|trans}} Ebogo </span><span></span></h1>
                        <h2 class="h3_location3"><i class="fa fa-map-marker" aria-hidden="true"></i> Yaoundé Essos</h2>
                    </div>
                    <hr class="hr_reservation">
                </div>

                <div>
                    <div class="css-i6wjbx">
                        <div>
                            <div class="div_prestation">1. {{'Prestation sélectionnée'|trans}}}}</div>

                            <div class="wrapper">
                                <div class="css-1tt30tv " id="responsive_wrapper">
                                <div class="down_wrapper">
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                        <div class="consultation_texte pull-left">{{'Consultation pour des soins dentaires'|trans}} &nbsp;&nbsp; 30min &nbsp;&nbsp; 10.000 Fcfa</div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                         <div class="choise_prestation pull-right">
                                        <div class="select-style">
                                          <select>
                                            <option value="">{{'Sans préférence'|trans}}</option>
                                            <option value="">Jeanne</option>
                                            <option value="">Pauline</option>
                                            <option value="">Pierre</option>
                                            <option value="">Alice</option>
                                          </select>
                                        </div>
                                    </div>

                                    </div>

                                    <a href="{{ path('dkk_app_choix')}}#ancre" class="go_back"><i class="fa fa-angle-left fa-2x"></i></a>

                                </div>
                            </div>
                            </div>
                            <div class="new_div_prestation" style="display:none">{{'Prestation à ajouter'|trans}}</div>


                            <!-- début de l'affichage quand on clique sur le lien prendre rendez-vous -->



                            <!-- fin de l'affichage quand on clique sur le lien prendre rendez-vous -->

                            <!-- debut de l'affiche des autres prestation quand on veut choisir une nouvelle prestation -->
                            <div class="wrapper_generation_new_" style="display:none !important">
                              <div class="wrapper_prestation">
                                  <!-- -->
                                  <div class="css-1numslp zone_consultation">
                                      <div>
                                          <span class="css-hl6pew">
                                              <span class="css-km7bau">{{'Consultation'|trans}}  </span>
                                              <span class="css-j0shu8">
                                                  <span> 30min</span>
                                                  <span>
                                                      <span class="css-czvdcv">10.000 Fcfa <br></span>
                                                  </span>
                                              </span>
                                              <button class="css-pq12he">{{'Prendre RDV'|trans}}</button>
                                          </span>
                                      </div>
                                  </div>
                                  <!-- -->
                                  <!-- -->
                                  <div class="css-1numslp">
                                      <div>
                                          <span class="css-hl6pew">
                                              <span class="css-km7bau">{{'Soins dentaires adultes'|trans}}  </span>
                                              <span class="css-j0shu8">
                                                  <span> 45min</span>
                                                  <span>
                                                      <span class="css-czvdcv">15.000 Fcfa <br></span>
                                                  </span>
                                              </span>
                                              <button class="css-pq12he">{{'Prendre RDV'|trans}}</button>
                                          </span>
                                      </div>
                                  </div>
                                  <!-- -->
                                  <!-- -->
                                  <div class="css-1numslp">
                                      <div>
                                          <span class="css-hl6pew">
                                              <span class="css-km7bau">{{'Soins dentaires enfants'|trans}}  </span>
                                              <span class="css-j0shu8">
                                                  <span> 45min</span>
                                                  <span>
                                                      <span class="css-czvdcv">10.000 Fcfa <br></span>
                                                  </span>
                                              </span>
                                              <button class="css-pq12he">{{'Prendre RDV'|trans}}</button>
                                          </span>
                                      </div>
                                  </div>
                                  <!-- -->
                                  <!-- -->
                                  <div class="css-1numslp">
                                      <div>
                                          <span class="css-hl6pew">
                                              <span class="css-km7bau">{{'Orthodontie'|trans}}  </span>
                                              <span class="css-j0shu8">
                                                  <span> 60min</span>
                                                  <span>
                                                      <span class="css-czvdcv">{{'à déterm'|trans}}. <br></span>
                                                  </span>
                                              </span>
                                             <button class="css-pq12he">{{'Prendre RDV'|trans}}</button>
                                          </span>
                                      </div>
                                  </div>
                                  <!-- -->

                                  <!-- -->
                                  <div class="css-1numslp">
                                      <div>
                                          <span class="css-hl6pew">
                                              <span class="css-km7bau">{{'Prothèses'|trans}}  </span>
                                              <span class="css-j0shu8">
                                                  <span> 75min</span>
                                                  <span>
                                                      <span class="css-czvdcv">8.000 Fcfa <br></span>
                                                  </span>
                                              </span>
                                              <button class="css-pq12he">{{'Prendre RDV'|trans}}</button>
                                          </span>
                                      </div>
                                  </div>
                                  <!-- -->

                                  <!-- -->
                                  <div class="css-1numslp">
                                      <div>
                                          <span class="css-hl6pew">
                                              <span class="css-km7bau">{{'Implants'|trans}}  </span>
                                              <span class="css-j0shu8">
                                                  <span> 90min</span>
                                                  <span>
                                                      <span class="css-czvdcv">15.000 Fcfa <br></span>
                                                  </span>
                                              </span>
                                              <button class="css-pq12he">{{'Prendre RDV'|trans}}</button>
                                          </span>
                                      </div>
                                  </div>
                                  <!-- -->

                                  <!-- -->
                                  <div class="css-1numslp">
                                      <div>
                                          <span class="css-hl6pew">
                                              <span class="css-km7bau">{{'Blanchiment des dents'|trans}}  </span>
                                              <span class="css-j0shu8">
                                                  <span> 45min</span>
                                                  <span>
                                                      <span class="css-czvdcv">10.000 Fcfa <br></span>
                                                  </span>
                                              </span>
                                              <button class="css-pq12he">{{'Prendre RDV'|trans}}</button>
                                          </span>
                                      </div>
                                  </div>
                                  <!-- -->

                                  <!-- -->
                                  <div class="css-1numslp">
                                      <div>
                                          <span class="css-hl6pew">
                                              <span class="css-km7bau">{{'Soins sous sédation consciente'|trans}}  </span>
                                              <span class="css-j0shu8">
                                                  <span> {{'à déterm'|trans}}.</span>
                                                  <span>
                                                      <span class="css-czvdcv">{{'à déterm'|trans}}. <br></span>
                                                  </span>
                                              </span>
                                              <button class="css-pq12he">{{'Prendre RDV'|trans}}</button>
                                          </span>
                                      </div>
                                  </div>
                                  <!-- -->


                              </div>
                            </div>
                            <!-- debut de l'affiche des autres prestation quand on veut choisir une nouvelle prestation -->
                            <br>
                            <button class="css-ust07w btn_generate">{{'Ajouter une prestation à la suite'|trans}}</button>

                            <!--<button class="css-ust07w add_fields">Ajouter une prestation à la suite</button>-->
                        </div>
                        <div>
                            <div class="date_resevation_choix">2. {{'Choix de la date'|trans}} &amp; {{'heure'|trans}}</div>
                            <div>
                                <div id="retake"></div>
                                <div class="calandar_generate">
                                    <!-- debut -->
                                    <div class="calNav">
                                        
                                        <!-- le code qui permet de générer les prestation se trouve a la fin de cette page " -->
                                    
                                        <p style="margin-top: -11px !important"></p>


                                        <div class="navButtons">
                                            <button class="prevDays  " alt="Précédents" role="button">
                                                <span class="fa fa-chevron-circle-left"></span>
                                                <span class="text">{{'Préc'|trans}}</span>
                                            </button>
                                            <button class="chooseDate " id="chooseDate" alt="Choisir une date" role="button">
                                                <i class="fa fa-calendar"></i> <span class="calander_i"></span>
                                                <span class="text" role="presentation"> {{'Choisir une date'|trans}}</span>
                                            </button>
                                            <button class="nextDays " alt="Suivants">
                                                <span class="text" role="presentation">{{'Suiv'}}</span>
                                                <span class="fa fa-chevron-circle-right" role="presentation"></span>
                                            </button>
                                        </div>
                                        <div class="minicalContainer" id="datapicher_">
                                          <!-- debut du calendrier -->
                                          <div class="calendier_generate" id="calendier_generate" style="display:none !important;">
                                            <!-- inserer le calendrier ici -->
                                          </div>
                                          <!-- fin du calandrier -->
                                        </div>
                                    </div>
                                    <div class="table_responsive">
                                      <table class="calTable" role="grid">
                                          <thead>
                                              <tr>

                                                  <th class="odd">
                                                      <span class="week-day">{{'Lundi'|trans}}</span>
                                                      <br><span class="date">13 {{'Août'|trans}} 2018</span>

                                                  </th>
                                                  <th class="even">
                                                      <span class="week-day">{{'Mardi'|trans}}</span>
                                                      <br><span class="date">14 {{'Août'|trans}} 2018</span>

                                                  </th>
                                                  <th class="odd">
                                                      <span class="week-day">{{'Mercredi'|trans}}</span>
                                                      <br><span class="date">15 {{'Août'|trans}} 2018</span>

                                                  </th>
                                                  <th class="even">
                                                      <span class="week-day">{{'Jeudi'|trans}}</span>
                                                      <br><span class="date">16 {{'Août'|trans}} 2018</span>

                                                  </th>
                                                  <th class="odd">
                                                      <span class="week-day">{{'Vendredi'|trans}}</span>
                                                      <br><span class="date">17 {{'Août'|trans}} 2018</span>

                                                  </th>
                                                  <th class="weekend weekend-sat even">
                                                      <span class="week-day">{{'Samedi'|trans}}</span>
                                                      <br><span class="date">18 {{'Août'|trans}} 2018</span>

                                                  </th>
                                                  <th class="weekend weekend-sun odd">
                                                      <span class="week-day">{{'Dimanche'|trans}}</span>
                                                      <br><span class="date">19 {{'Août'|trans}} 2018</span>

                                                  </th>
                                              </tr>
                                          </thead>

                                          <tbody>
                                              <tr>

                                                  <td class="odd">

                                                      <span class="hide" id="date_0"> {{'Lundi'|trans}} 13 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h00">16h00</a>

                                                      <span class="hide" id="date_1"> {{'Lundi'|trans}} 13 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips">17h30</a>

                                                  </td>

                                                  <td class="even">
                                                      <span class="hide" id="date_0"> {{'Lundi'|trans}} 13 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h00">16h00 </a>

                                                      <span class="hide" id="date_1"> {{'Lundi'|trans}} 13 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips">17h30</a>
                                                  </td>

                                                  <td class="odd">

                                                      <span class="hide" id="date_0"> {{'Lundi'|trans}} 13 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h00">16h00</a>

                                                      <span class="hide" id="date_1"> {{'Lundi'|trans}} 13 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips">17h30</a>
                                                  </td>

                                                  <td class="even">

                                                      <span class="hide" id="date_0"> {{'Lundi'|trans}} 13 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h00">16h00</a>

                                                      <span class="hide" id="date_1"> {{'Lundi'|trans}} 13 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips">17h30</a>
                                                  </td>

                                                  <td class="odd">

                                                      <span class="hide" id="date_2"> {{'Vendredi'|trans}} 17 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips">11h15</a>

                                                  </td>

                                                  <td class="weekend weekend-sat even">

                                                      <span class="hide" id="date_3"> {{'Samedi'|trans}} 18 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips">15h30</a>

                                                      <span class="hide" id="date_4"> {{'Samedi'|trans}} 18 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" role="gridcell">16h00</a>

                                                      <span class="hide" id="date_5"> {{'Samedi'|trans}} 18 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h15">16h30</a>

                                                      <span class="hide" id="date_6"> {{'Samedi'|trans}} 18 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h30">17h00</a>

                                                      <span class="hide" id="date_6"> {{'Samedi'|trans}} 18 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h30">17h30</a>

                                                      <span class="hide" id="date_6"> {{'Samedi'|trans}} 18 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h30">18h00</a>
                                                      <span class="hide" id="date_6"> {{'Samedi'|trans}} 18 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h30">18h30</a>
                                                      <span class="hide" id="date_6"> {{'Samedi'|trans}} 18 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h30">19h00</a>
                                                      <span class="hide" id="date_6"> {{'Samedi'|trans}} 18 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h30">19h30</a>
                                                      <span class="hide" id="date_6"> {{'Samedi'|trans}} 18 {{'Août'|trans}} 2018</span>
                                                      <a href="{{ path('dkk_app_coordonne') }}#identification" class="tooltips" alt="16h30">20h00</a>

                                                  </td>

                                                  <td class="weekend weekend-sun odd">

                                                  </td>

                                              </tr>

                                          </tbody>
                                      </table>
                                    </div>

                                    <!-- fin du nouveau calandrier-->

                                    <!-- fin -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin du code -->

    {% block scripts2 %}
    <script>
        $(document).ready(function(){
           
          

      
                var button = $(".btn_generate");
                                            var count = 0;
                                            $(button).on("click",function(e){

                                            e.preventDefault();


                                              $(".new_div_prestation").show();
                                                $(".wrapper_generation_new_").show();
                                                $(button).hide();


                                          });

                                          var max_fields = 2;
                                          var wrapper    = $(".wrapper");
                                          var add_button = $(".css-pq12he");
                                          var x = 1;

                                        $(add_button).click(function(e){
                                              e.preventDefault();



                                                  $(wrapper).append('<div class="wrapper_down_" id="wrapper_down_"><div class="wrapper"><div class="css-1tt30tv "><div class="down_wrapper"><div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><div class="consultation_texte pull-left">Consultation pour des soins dentaires &nbsp;&nbsp; 30min &nbsp;&nbsp; 10.000 Fcfa</div></div><div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><div class="choise_prestation pull-right"><div class="select-style"><select><option value="">Sans préférence</option><option value="">Jeanne</option><option value="">Pauline</option><option value="">Pierre</option><option value="">Alice</option></select></div></div></div></div></div></div> <a href="javascript:void(0);" class="remove_field"><i class="fa fa-times"></i></a></div>');
                                                    $(".btn_generate").show();
                                                    $(".wrapper_generation_new_").hide();
                                                      $(".new_div_prestation").hide();




                                          });


                                          $(wrapper).on("click",".remove_field", function(e){
                                              e.preventDefault();
                                          $(this).parent('div').remove();
                                          x--;
                                          })
                                          
                
        });
   
    </script>
        {% endblock %}

{% endblock %}



 



