{% extends '::connect.html.twig' %}

{% block title %}{{'Entrer vos coordonnées'|trans}} : {{'Prise de rendez-vous et dépôt de dossier en ligne'|trans}} {% endblock %}

{% block style %}

<style>
    .menu1 {
         border-bottom:solid 2px #669d7d ;
         padding-top:12px ;
         padding-bottom:7px
       }

       .onglet {
           border:solid 1px #669d7d ;
           margin:5px 5px 0px 5px ;
           padding:7px 3px 7px 3px;
           border-radius:5px 5px 0px 0px !important;
         }

         a.onglet {
           background-color:#E7E4E4 ;
           text-decoration:none;
           font-weight: bold;
           font-family: 'Montserrat', sans-serif;
           font-size: 1.1em;
           background: #669d7d;
           color: #fff !important;
         }

         .onglet-actif {
            border-left:solid 2px #669d7d ;
            border-right:solid 2px #669d7d ;
            border-top:solid 2px #669d7d ;
            border-bottom:none !important;
            margin:5px 5px 0px 5px ;
            padding:7px 3px 7px 3px ;
            background-color:white;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.2em;
         }
       .sky-form{
           box-shadow: none !important;
       }
       #wrapper > button{
         display: block;
         margin-left: 170px !important;
       }

       @media only screen and (max-width: 1024px) {
         .wrapper_prise_{
           height: 900px !important;
           margin-bottom: 170px !important;
         }
       }

         body{
         background: url('{{asset("img/t1.png")}}') no-repeat center center;
         background-size: cover !important;
         background-attachment: fixed !important;
       }

</style>


{% endblock %}


{% block body %}

<script>
   function goBack() {
       window.history.back();
   }
</script>

<div class="container-fluid">
           <div class="container">
                <div id="wrapper">

                      <div class="wrapper_prise_" id="wrapper_prise_">

                       <div class="">
                         <p class="prendre_un_rdv"> {{'Prendre Rendez-vous avec un conseiller Dikaki'|trans}}</p>

                         <div class="menu1"> <!-- début de la boite contenant les onglets -->
                           <a class="onglet" href="{{ path('dkk_app_prendre') }}"> {{'Prendre RDV'|trans}} </a> <!-- onglet inactif -->
                            <span class="onglet-actif">{{'Coordonnées'|trans}} </span> <!-- onglet ACTIF -->
                        </div>

                         <p class="text_take_rdv">{{'Votre Rendez-vous à confirmer'|trans}} </p>

                       <p class="veuillez_info">{{"Présentation de la plateforme Dikaki - 30 min Vendredi 12 Octobre 2018 à 14H 00"|trans}} &nbsp;&nbsp;  <a href="{{ path('dkk_app_prendre') }}" class="pull-right my_link_rdv" style="color: black !important">{{"Modifier l'horaire"|trans}}</a></p>

                       </div>
                          <div class="">
                           <!-- debut -->
       <form action="" class="sky-form" method="post" id="signupForm">
       <header style="text-align: center;" id="Veuillez">{{'Veuillez completer le formulaire'|trans}}</header>

       <fieldset>
         <div class="row">
           <section class="col col-6">
             <label class="input">
               <i class="icon-append icon-user"></i>
               <input type="text" placeholder="{{'Nom'|trans}}" name="firstname">
             </label>

           </section>
           <section class="col col-6">
             <label class="input">
               <i class="icon-append icon-user" ></i>
               <input type="text" placeholder="{{'Prénom'|trans}}" name="lastname">
             </label>
           </section>
         </div>
                   <div class="row">
           <section class="col col-6">
             <label class="input">
               <i class="icon-append icon-phone"></i>
               <input type="text" placeholder="{{'Téléphone portable'|trans}}" name="phone">
             </label>

           </section>
           <section class="col col-6">
             <label class="input">
               <i class="icon-append icon-envelope-alt"></i>
               <input type="email" placeholder=" {{'E-mail'|trans}}" name="email">
             </label>

           </section>
         </div>

         <div class="row">
           <section class="col col-6">
             <label class="input">
               <i class="icon-append icon-home"></i>
               <input type="text" placeholder="{{'Entreprise'|trans}}" name="entreprise">
             </label>

           </section>
           <section class="col col-6">
             <label class="select">
               <select name="secteur">
                 <option value=""> {{"Secteur d'activité"|trans}}</option>
                 <option value="Santé">Santé</option>
                 <option value="Bien être et beauté">{{'Bien être et beauté'|trans}}</option>
                 <option value="Restauration">{{'Restauration'|trans}}</option>
                 <option value="Avocat-Notaire">{{'Avocat-Notaire'|trans}}</option>
                 <option value="Expert-Immobilier">{{'Expert-Immobilier'|trans}}</option>
                 <option value="Institutions publiques">{{'Institutions publiques'|trans}}</option>
                 <option value="collectivités territoriales décentralisées">{{'collectivités territoriales décentralisées'|trans}}</option>
                 <option value="Automobile">{{'Automobile'|trans}}</option>
                 <option value="Evénementiel">{{'Evénementiel'|trans}}</option>
                 <option value="Administration">{{'Administration'|trans}}</option>
                 <option value="profession libérale">{{'Profession libérale'|trans}}</option>
                 <option value="Banque">{{'Banque'|trans}}</option>
                 <option value="Assurances">{{'Assurances'|trans}}</option>
                 <option value="Sécurité sociale">{{'Sécurité sociale'|trans}}</option>
                 <option value="Education">{{'Education'|trans}}</option>
                 <option value="Universités et grandes écoles">{{'Universités et grandes écoles'|trans}}</option>
                 <option value="Transport">{{'Transport'|trans}}</option>
                 <option value="Sport et Loisirs">{{'Sport et Loisirs'|trans}}</option>
                 <option value="Representation Diplomatique">{{'Représentation Diplomatique'|trans}}</option>
                 <option value="Organisme International">{{'Organisme International'|trans}}</option>
                 <option value="Art et culture">{{'Art et culture'|trans}}</option>
               </select>
               <i></i>
             </label>

           </section>
         </div>
       </fieldset>

       <fieldset>

           <section>

           </section>





         <section>
           <label class="textarea">
             <i class="icon-append icon-comment"></i>

             <textarea rows="5" placeholder="{{'Laisser un message'|trans}}" name="comment"></textarea>
           </label>

         </section>
       </fieldset>
       <footer>
         <div class="pull-right">
           <a href="{{path('dkk_app_homepage')}}" style="color: #fff !important" class="btn-two green small small_btn"><i class="fa fa-times"></i> {{'Annuler RDV'|trans}}</a>
         <button type="submit" id="button_send" class="btn-two green small small_btn "><i class="fa fa-check"></i> {{'Confirmer RDV'|trans}}</button>
         </div>
       </footer>
     </form>
                           <!-- fin -->
                          </div>
                     </div>
           </div>



   </div>
 </div>

{% endblock %}
