{% extends '::Solution.html.twig' %}

{% block title %} Dikaki : {{ "Prise de rendez-vous"|trans}} {% endblock %}

{% block body %}
<!-- debut du slideshow -->
                    <section id="slider" class="">
		<ul class="slider-wrapper">
		<li class="current-slide">
			<img src="{{asset('img/banner4.jpg')}}" title="" alt="">

      <div class="caption">
        <h2 class="slider-title animated bounceInRight"style="animation-delay: 1s">{{ "Système de prise de rendez-vous et de planification en ligne pour les besoins de toutes les entreprises, administrations et services publics."|trans}} </h2>
      </div>

		</li>

		<li>
			<img src="{{asset('img/oui.png')}}" title="" alt="">

			<div class="caption">
				<h2 class="slider-title animated zoomIn" style="animation-delay: 1s">{{ "Le paiement en ligne c'est sécuriser vos encaissements."|trans}}</h2>
                <h2 class="slider-title animated zoomIn" style="animation-delay: 2s">{{ "\"Soyez payé à l'heure.\""|trans}} </h2>

			</div>
		</li>

		<li>
			<img src="{{asset('img/b1.jpg')}}" title="" alt="">

			<div class="caption">
				<h2 class="slider-title animated bounceInRight" style="animation-delay: 1s">{{ "Prendre rendez-vous avec un professionnel."|trans}} </h2>

                <h2 class="slider-title animated bounceInLeft" style="animation-delay: 2s">{{ "\"C'est facile et simple\"."|trans}} </h2>

			</div>
		</li>
		</ul>
		<!-- Sombras -->
		<div class="slider-shadow"></div>

		<!-- Controles de Navegacion -->

	</section>

                <!-- fin du slideshow -->
            <div class="container-fluid slogna_header">
                <div class="container">
                    <div class="row">
                        <p>
                            {{ "La solution de prise de rendez-vous en ligne Dikaki avec ses fonctionnalités avancées, permettent une gestion de votre calendrier et planning rapide et efficace. Simplification des réservations en toute sécurité dans les services administratifs et les métiers de santé, beauté, restauration, bien être, automobile, banque et assurances, cabinet d'avocat et bien d'autres."|trans}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-fluid parralax_effect">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="wrapper_rdv">

                                <p>{{ "Prise de rendez-vous."|trans}}</p>
                                <img src="{{asset('img/t12.png')}}" class="img-responsive img_banner_rdv">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="margin_wrapper_solu">
                                <p>
                                   {{ "La prise de rendez-vous avec Dikaki, c'est un fonctionnement simple et rapide."|trans}}
                                </p>
                                <ul style="text-align: center;">
                                    <span class="ul_content"><i class="fa fa-times"></i> {{ "Le choix du professionnel."|trans}}</span>
                                    <span class="ul_content"><i class="fa fa-times"></i> {{ "Le choix de date et heure."|trans}}</span>
                                    <span class="ul_content ul_right"><i class="fa fa-times"></i> {{ "La prise de rendez-vous."|trans}}</span>
                                </ul>
                                <span class="span">{{ "Le tout en un clic."|trans}}</span>
                                <div class="ask">
                                    <a href="{{path('dkk_app_demonstration')}}" class="btn-two green block" >{{ "Demander une démo."|trans}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>

            <div class="container-fluid wrapper_description">
                <div class="container">
                    <div class="row">
                        <p class="avantage_fonctionnalite">
                            {{ "Avantages et Fonctionnalités."|trans}}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="height_plus my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100% !important; overflow: hidden; border-radius: 1px;">
                    <img src="{{asset('img/s.png')}}" alt=""
                        class="d-block w-full">

                      <div class="px-2 py-2">
                        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                          Dikaki
                        </p>

                        <h1 class="h1 ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                          {{ "Prise de rendez-vous en ligne 24h/24 et 7j/7."|trans}}
                        </h1>

                         <p class="mb-1">
                          {{ "Donnez la possibilité à vos clients/patients de prendre rendez-vous par internet. L'usager peut faire une réservation à tout moment même en dehors des heures d'ouverture de votre activité."|trans}}
                        </p>

                      </div>

                  <a href="javascript:void(0);" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">

                  </a>
                </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">


                        <h1 class="dikaki_prise">
                             {{ "Prise de rendez-vous en ligne."|trans}}
                        </h1>




                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                                <div class="height_plus my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%; overflow: hidden; border-radius: 1px;">
                        <img src="{{asset('img/2.png')}}" alt=""
                            class="d-block w-full">

                          <div class="px-2 py-2">
                            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                              Dikaki
                            </p>

                            <h1 class="h1 ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                            {{ "Paiement en ligne via nos partenaires."|trans}}
                            </h1>

                            <p class="mb-1">
                             {{ "Eliminez les tracasseries de paiements en adoptant les paiements en ligne pour vos rendez-vous et vos réservations. Limitez les rendez-vous manqués, maitrisez vos encaissements."|trans}}
                            </p>

                          </div>

                      <a href="javascript:void(0);" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">

                      </a>
                    </div>

                        </div>

                    </div>

                    <!-- seconde ligne des fonctionnalité-->

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <div class="height_plus my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%; overflow: hidden; border-radius: 1px;">
                        <img src="{{asset('img/c.png')}}" alt=""
                            class="d-block w-full">

                          <div class="px-2 py-2">
                            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                              Dikaki
                            </p>

                            <h1 class="h1 ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                            {{ "Organisation du planning et agenda en ligne."|trans}}
                            </h1>

                            <p class="mb-1">
                             {{ "Partager vos disponibilités avec vos clients/patients. Les rendez-vous pris en ligne, par téléphone ou à l'accueil remplissent l'agenda. Dès qu'une réservation est faite, l'agenda se met automatiquement à jour."|trans}}
                            </p>

                          </div>

                      <a href="javascript:void(0);" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">

                      </a>
                    </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <div class="height_plus my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%; overflow: hidden; border-radius: 1px;">
                        <img src="{{asset('img/h.png')}}" alt=""
                            class="d-block w-full">

                          <div class="px-2 py-2">
                            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                              Dikaki
                            </p>

                            <h1 class="h1 ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                           {{ "Confirmation et rappel de rendez-vous par Mail et SMS."|trans}}
                            </h1>

                            <p class="mb-1">
                             {{ "Evitez les oublis, un Mail de rappel est envoyé à une heure et à une date que vous aurez prédéfinies avant le rendez-vous et un SMS; Vous pouvez informer les patients sur la préparation du RDV."|trans}}
                            </p>

                          </div>

                      <a href="javascript:void(0);" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">

                      </a>
                    </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <div class="height_plus my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 100%; overflow: hidden; border-radius: 1px;">
                        <img src="{{asset('img/j.png')}}" alt=""
                            class="d-block w-full">

                          <div class="px-2 py-2">
                            <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                              Dikaki
                            </p>

                            <h1 class=" h1 ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                            {{ "Modification et Annulation"|trans}}
                            </h1>

                            <p class="mb-1">
                            {{ "Permettez à vos clients / patients de faire des modifications ou des annulations de leurs rendez-vous directement en ligne de la même manière que le choix de date et heure de la prise de rendez-vous. C'est un service simple."|trans}}
                            </p>

                          </div>

                      <a href="javascript:void(0);" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">

                      </a>
                    </div>
                        </div>

                    </div>

                    <div class="demander_une_demo_wrapper" style="width:265px !important;">
                        <a href="{{path('dkk_app_power')}}" class="btn-two green block" style="width:100% !important;text-align:center">{{ "La puissance de Dikaki"|trans}}</a>
                    </div>
                </div>
            </div>

            <div class="wrapper_service_client">
                <div class="container">
                    <div class="row">
                        <div class="blocquotte">

<blockquote>
    <p>{{ "Ce que vous imaginez, Dikaki le fait pour vous."|trans}}</p>
</blockquote>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
